{{#section 'css'}}
<title>Quản lí bình luận</title>

{{!-- comment page --}}
<link href="/admin/css/comments.css" rel="stylesheet" />
<link href="/admin/css/component-comment.css" rel="stylesheet" />
{{!-- comment page --}}

{{!-- responsive --}}
<link href="/admin/css/responsive-comments.css" rel="stylesheet" />
{{!-- responsive --}}
{{/section}}

<div id="content" class="mb-5">
    <header class="clearfix">
        <h5 class="page_title mb-0">Tất cả bình luận</h5>
    </header>

    <div class="content-inner">
        <!--Thanh tìm kiếm-->
        <div class="row search-row ml-0 mr-0">
            <div class="col-md-12 p-0">
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control search-field" id="search" placeholder="Tên khách hàng"
                        aria-label="Recipient's username" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button">
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--end thanh tìm kiếm-->

        {{#each comments}}
        <!--Hàng chứa nội dung bình luận-->
        <div class="row row-comments">
            <div class="component-comment row w-100 ml-0 mr-0 mt-3">
                <div class="content-left col-2 col-md-3 col-lg-2 pr-0">
                    <div class="img-avatar">
                        <img src="{{IMAGE}}" id="avatar{{ID}}" class="w-100 h-100 rounded-circle" alt="" />
                    </div>

                    <h5 class="mt-3 mb-0 text-center font-weight-bold full-name">
                        {{FULLNAME}}
                    </h5>

                    <p class="mt-0 text-center time-post-comment">
                        {{CREATED}}
                    </p>
                </div>

                <div class="content-top col-12 mb-1">
                    <h5 class="full-name mb-0 mr-2 font-weight-bold d-inline-block">
                        {{FULLNAME}}
                    </h5>
                    <span class="mb-0 time-post-comment">
                        <span>(</span> {{CREATED}}<span>)</span>
                    </span>
                </div>

                <div class="content-right col-12 col-md-9 col-lg-10">
                    <div class="d-inline-block mr-2 rate-star">
                        {{{commentStars STARS}}}
                    </div>

                    <span class="rate-text">{{TITLE}}</span>

                    <div class="prove-buy">
                        {{#if BOUGHT}}
                        <i class="fas fa-check-circle mr-1"></i>
                        <span>Đã mua sản phẩm</span>
                        {{else}}
                        <i class="fa fa-exclamation-circle"></i>
                        <span>Chưa mua sản phẩm</span>
                        {{/if}}
                    </div>

                    <p class="mt-2 mb-2 main-content">
                        {{COMMENT}}
                    </p>

                    <div class="clearfix">
                        <div class="float-left mt-2 pr-2">
                            <a class="btn btn-sm btn-warning disabled" href="#" role="button">
                                <span>Cảm ơn</span>
                                <span class="badge badge-light p-1"> {{LIKES}}</span>
                            </a>
                        </div>
                        <div class="float-right mt-2 pr-2">
                            <a class="btn btn-sm btn-primary" href="#" role="button">
                                <span class="fas fa-eye-slash">&ensp;Ẩn</span>
                            </a>
                            <a class="btn btn-sm btn-danger" href="#" role="button">
                                <span class="fas fa-times">&ensp;Xóa</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End hàng chứa nội dung bình luận-->

        <hr />
        {{/each}}

        <!--Thanh điều hướng trang-->
        <div class="row justify-content-center">
            <!-- <div class="col-md-12"> -->
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- </div> -->
        </div>
        <!--end Thanh điều hướng trang-->
    </div>
</div>

{{#section 'js'}}
{{/section}}