{{#section 'css'}}
<title>Quản lí khách hàng</title>

<link href="/admin/css/customer.css" rel="stylesheet" />

{{!-- responsive --}}
<link href="/admin/css/responsive-customer.css" rel="stylesheet" />
{{!-- responsive --}}
{{/section}}

<!--Nội dung trang index-->
<div id="dashboard-con">
    <div id="content">
        <header>
            <h5 class="mb-0">Danh sách khách hàng</h5>
        </header>

        <div class="content-inner">
            <!--Thanh tìm kiếm-->
            <div class="row search-row ml-0 mr-0">
                <div class="col-md-12 p-0">
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control search-field" id="search" placeholder="Tên khách hàng"
                            aria-label="Recipient's username" aria-describedby="basic-addon2" />
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button">
                                Tìm kiếm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end thanh tìm kiếm-->

            <!--Table hiển thị sản phẩm-->
            <table class="table table-responsive mb-4">
                <thead>
                    <tr>
                        <th class="text-center">Mã KH</th>
                        <th>Loại KH</th>
                        <th>Tài khoản</th>
                        <th>Họ tên</th>
                        <th class="text-center">Ảnh đại diện</th>
                        <th>Thời gian đăng ký</th>
                        <th class="text-center">Tác vụ</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each this.customers}}
                    <!--Nội dung của một hàng-->
                    <tr>
                        <td align="center">{{ID}}</td>
                        <td>{{TYPENAME}}</td>
                        <td>{{USERNAME}}</td>
                        <td>{{FULLNAME}}</td>
                        <td align="center"><img src="{{IMAGE}}" class="show-image"></td>
                        <td>{{CREATED}}</td>
                        <td align="center">
                            <button class="btn btn-sm btn-primary post_modal_get_info" id={{ID}} type="button" data-toggle="modal"
                                data-target="#customerDetailModal">
                                <i class="fas fa-info"></i>
                            </button>
                            <button class="btn btn-sm btn-danger post_delete_customer" id="{{ID}}" type="button">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    <!--End nội dung của một hàng-->
                    {{/each}}
                </tbody>
            </table>
            <!--End Table hiển thị sản phẩm-->

            <!--Modal hiển thị thông tin chi tiết của đơn hàng-->
            <div class="modal fade bd-example-modal-lg" id="customerDetailModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Thông tin chi tiết khách hàng
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row ml-0 mr-0" id="modal-image">
                                    <div class="col-12 d-flex justify-content-center">
                                        <img src="/uploads/IMG_NOTFOUND.jpg" id="modal-customer-image"
                                            class="show-image">
                                    </div>
                                </div>

                                <div class="row ml-0 mr-0">
                                    <div class="col-3 p-0">
                                        <p>Mã khách hàng:</p>
                                    </div>
                                    <div class="col-9" id="modal-customer-id"></div>
                                </div>

                                <div class="row ml-0 mr-0 mb-3 d-flex align-items-center">
                                    <div class="col-3 p-0">
                                        <label for="customerTypeId">Loại khách hàng:</label>
                                    </div>
                                    <div class="col-9 input-group input-group-sm">
                                        <select class="custom-select form-control mr-2"
                                            id="customerTypeId">
                                        </select>
                                        <button class="btn btn-sm btn-warning post_customer_type_update" type="button">
                                            <i class="far fa-edit"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="row ml-0 mr-0">
                                    <div class="col-3 p-0">
                                        <p>Họ tên:</p>
                                    </div>
                                    <div class="col-9" id="modal-customer-name"></div>
                                </div>

                                <div class="row ml-0 mr-0">
                                    <div class="col-3 p-0">
                                        <p>Tài khoản:</p>
                                    </div>
                                    <div class="col-9" id="modal-customer-username"></div>
                                </div>

                                <div class="row ml-0 mr-0">
                                    <div class="col-3 p-0">
                                        <p>Email:</p>
                                    </div>
                                    <div class="col-9" id="modal-customer-email"></div>
                                </div>

                                <div class="row ml-0 mr-0">
                                    <div class="col-3 p-0">
                                        <p>Ngày sinh:</p>
                                    </div>
                                    <div class="col-9" id="modal-customer-birthdate"></div>
                                </div>

                                <div class="row ml-0 mr-0">
                                    <div class="col-3 p-0">
                                        <p>Ví tiền:</p>
                                    </div>
                                    <div class="col-9" id="modal-customer-cash"></div>
                                </div>

                                <div class="row ml-0 mr-0">
                                    <div class="col-3 p-0">
                                        <p>Thời gian đăng ký:</p>
                                    </div>
                                    <div class="col-9" id="modal-customer-created"></div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary pl-2 pr-2" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-danger pl-2 pr-2 post_modal_delete_customer">
                                Xóa
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--End modal hiển thị thông tin chi tiết của đơn hàng-->

            <hr />

            <!--Thanh điều hướng trang-->
            <div class="row justify-content-center">
                <!-- <div class="col-md-12"> -->
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- </div> -->
            </div>
            <!--end Thanh điều hướng trang-->
        </div>
    </div>
</div>
<!--End Nội dung trang index-->

{{#section 'js'}}
<script src="/admin/js/customer-show-view.js"></script>
{{/section}}