{{#section 'css'}}
<title>Trang chủ admin</title>

{{!-- index page --}}
<link href="/admin/css/index.css" rel="stylesheet" />
{{!-- index page --}}

{{!-- responsive --}}
<link href="/admin/css/responsive-index.css" rel="stylesheet" />
{{!-- responsive --}}
{{/section}}

<!--Nội dung trang index-->
<div class="dashboard-con" id="dashboard-con">
    <!--Row hiển thị biểu đồ-->
    <!--Hàng chứa nội dung lượt tương tác trong ngày-->

    <div class="row">

        <div class="col-12 col-sm-4">

            <!--Thẻ chứa lượt view trong ngày-->
            <div class="report-content-con report-view">
                <div>
                    <i class="fas fa-eye"></i>
                    <h6 class="d-inline">Lượt xem trong ngày</h6>
                </div>

                <div class="d-flex flex-column mt-1">
                    <span></span>
                    <b>{{this.TotalViews}}</b>
                    <span></span>
                </div>
            </div>

            <div class="report-content-con-small report-view">
                <div class="d-flex align-items-start">
                    <h6><i class="fas fa-eye mr-2"></i></h6>
                    <h6 class="mr-2">Lượt xem trong ngày</h6>
                </div>

                <div class="badge badge-light">
                    <h6>{{this.TotalViews}}</h6>
                </div>
            </div>
            <!--End Thẻ chứa lượt view trong ngày-->

        </div>

        <div class="col-12 col-sm-4">

            <!--Thẻ chứa lượt view trong ngày-->
            <div class="report-content-con report-view">
                <div>
                    <i class="fas fa-shopping-cart"></i>
                    <h6 class="d-inline">Lượt mua trong ngày</h6>
                </div>

                <div class="d-flex flex-column mt-1">
                    <span></span>
                    <b>{{this.ToltalOrders}}</b>
                    <span></span>
                </div>
            </div>

            <div class="report-content-con-small report-view">
                <div class="d-flex align-items-start">
                    <h6><i class="fas fa-shopping-cart mr-2"></i></h6>
                    <h6 class="mr-2">Lượt mua trong ngày</h6>
                </div>

                <div class="badge badge-light">
                    <h6>{{this.ToltalOrders}}</h6>
                </div>
            </div>
            <!--End Thẻ chứa lượt view trong ngày-->

        </div>

        <div class="col-12 col-sm-4">

            <!--Thẻ chứa lượt view trong ngày-->
            <div class="report-content-con report-view">
                <div>
                    <i class="fas fa-money-check-alt"></i>
                    <h6 class="d-inline">Doanh thu trong ngày</h6>
                </div>

                <div class="d-flex flex-column mt-1">
                    <span></span>
                    <b>{{formatPrice this.TotalMoney}}&nbsp;<u>đ</u></b>
                    <span></span>
                </div>
            </div>

            <div class="report-content-con-small report-view">
                <div class="d-flex align-items-start">
                    <h6><i class="fas fa-money-check-alt mr-2"></i></h6>
                    <h6 class="mr-2">Doanh thu trong ngày</h6>
                </div>

                <div class="badge badge-light">
                    <h6>{{formatPrice this.TotalMoney}}&nbsp;<u>đ</u></h6>
                </div>
            </div>
            <!--End Thẻ chứa lượt view trong ngày-->

        </div>

    </div>

    <!--End hàng chứa nội dung lượt tương tác trong ngày-->
    <!--Hàng 1-->
    <div class="row">
        <div class="col-12 col-md-7">
            <!--Biểu đồ thể hiện lượng người vào thăm website-->
            <div class="admin-content-con">

                <canvas id="accessTimesLineChart">

                </canvas>

            </div>
            <!--End Biểu đồ thể hiện lượng người vào thăm website-->
        </div>

        <div class="col-12 col-md-5">
            <!--Biểu đồ thể hiện top sản phẩm bán chạy-->
            <div class="admin-content-con">

                <canvas id="TopProductBarChart">

                </canvas>

            </div>
            <!--End Biểu đồ thể hiện top sản phẩm bán chạy-->
        </div>
    </div>
    <!--End hàng 1-->

    <!--Hàng 2-->
    <div class="row">

        <!--align-self-center-->
        <div class="col-12 col-md-5">
            <!--Biểu đồ thể hiện cấu trúc hàng của người bán-->
            <div class="admin-content-con">

                <canvas id="structureProductChart">

                </canvas>

            </div>
            <!--End Biểu đồ thể hiện cấu trúc hàng của người bán-->
        </div>

        <div class="col-12 col-md-7">
            <!--Biểu đồ thể hiện doanh thu theo ngày-->
            <div class="admin-content-con">

                <canvas id="revenueLineChart">

                </canvas>

            </div>
            <!--End Biểu đồ thể hiện doanh thu theo ngày-->
        </div>
    </div>
    <!--End row hiển thị biểu đồ-->


    <!--Row 1-->
    <div class="row">
        <div class="col-12">
            <div class="admin-content-con">
                <header>
                    <h5>Top khách hàng</h5>
                </header>

                <table class="table table-responsive-sm">
                    <thead>
                        <tr>
                            <th class="text-center">Mã KH</th>
                            <th>Tên KH</th>
                            <th>Email</th>
                            <th>Loại</th>
                            <th>Ví tiền</th>
                            <th>Thời gian đăng kí</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each this.TopCustomer}}
                        <tr>
                            <td align="center">{{ID}}</td>
                            <td>{{FULLNAME}}</td>
                            <td>{{EMAIL}}</td>
                            <td>{{TYPENAME}}</td>
                            <td>{{formatPrice CASH}}&nbsp;đ</td>
                            <td>{{CREATED}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <div class="clearfix">
                    <a href="/admin/customer/customer-show" class="float-right text-link">Xem tất cả khách hàng</a>
                </div>
            </div>
        </div>
    </div>
    <!--End row 1-->

    <!--Trạng thái đơn hàng-->
    <div class="row">
        <div class="col-12">
            <div class="admin-content-con">
                <header>
                    <h5>Đơn hàng vừa nhận</h5>
                </header>

                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th class="text-center">Mã đơn hàng</th>
                            <th>Thời gian đặt</th>
                            <th>Khách hàng</th>
                            <th>Tổng tiền</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>

                    <tbody>

                        <!--Nội dung một hàng-->
                        {{#each this.orders}}
                        <tr>
                            <td align="center">{{ID}}</td>
                            <td>{{CREATED}}</td>
                            <td>{{CUSTOMERNAME}}</td>
                            <td>{{formatPrice TOTALMONEY}}&nbsp;đ</td>
                            <td align="center">
                            {{{formatStatus ORDERSTATUSID ORDERSTATUSNAME}}}
                            </td>
                            <td align="center">
                                <a href="/admin/order/order-info/{{ID}}" class="btn btn-sm btn-primary mr-1">
                                <i class="fas fa-info pl-1 pr-1"></i>
                            </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <div class="clearfix">
                    <a href="/admin/order/order-show" class="float-right text-link">Xem tất cả đơn hàng</a>
                </div>
            </div>
        </div>
    </div>
    <!--End Trạng thái đơn hàng-->

    <!--Row 2-->
    <div class="row">

        <!--Danh sách bài đăng bên trái-->
        <div class="col-12 col-md-6">
            <div class="admin-content-con">
                <header class="d-flex mb-3 align-items-center justify-content-between">
                    <h5>Bài viết xem nhiều</h5>
                    <a class="btn btn-sm btn-success" href="/admin/info/info-add">
                        Tạo mới
                    </a>
                </header>

                <table class="table table-responsive-xl">
                    <thead>
                        <tr>
                            <th>Tiêu đề</th>
                            <th>Ngày đăng</th>
                            <th class="text-center">Lượt xem</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each this.Newpost}}
                        <tr>
                            <td>
                                <div class="wordWrap info-title">
                                    {{TITLE}}
                                </div>
                            </td>
                            <td>{{CREATED}}</td>
                            <td align="center">{{VIEWS}}</td>
                            <td align="center">
                                <a class="btn btn-primary btn-sm" href="/admin/info/info-update/{{ID}}">
                                    <i class="fas fa-info pl-1 pr-1"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="clearfix">
                    <a href="/admin/info/info-show" class="float-right text-link">Xem tất cả bài viết</a>
                </div>


            </div>
        </div>
        <!--End Danh sách bài đăng bên trái-->

        <!--Nội dung bình luân bên phải-->
        <div class="col-12 col-md-6">

            <div class="admin-content-con">
                <header class="mb-4">
                    <h5>Bình luận gần đây</h5>
                </header>
                <hr>
                <!--Nội dung bình luận-->
                {{#each this.Comment}}
                <div class="comment-header-dash clearfix">
                    <div class="comment-name-dash float-left">
                        {{FULLNAME}}
                        <i>({{PRODUCTNAME}})</i>
                    </div>
                    <div class="day-dash float-right">{{CREATED}}</div>
                </div>
                <p class="comment-dash">
                    {{COMMENT}}
                </p>
                <!-- <small class="comment-date-dash">Hôm nay 13/4/2019 </small> -->
                <hr>
                {{/each}}

                <!--End nội dung bình luận-->
                <div class="clearfix">
                    <a href="/admin/comment/product-comment" class="float-right text-link">Xem tất cả bình luận</a>
                </div>
            </div>
        </div>
        <!--End Nội dung bình luân bên phải-->
    </div>
    <!--End row 2-->

</div>
<!--End Nội dung trang index-->

{{#section 'js'}}
{{!-- import chart --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{{!-- end import chart --}}

<script src="/admin/js/report-chart-script.js"></script>
{{/section}}