{{#section 'css'}}
<title>Thêm thông tin hữu ích</title>

{{!-- info add page --}}
<link href="/admin/css/info-add.css" rel="stylesheet" />
{{!-- info add page --}}

{{!-- responsive --}}
<link href="/admin/css/responsive-info-add.css" rel="stylesheet" />
{{!-- responsive --}}
{{/section}}

<div id="content" class="mb-5">
    <header>
        <h5 class="page_title mb-0">Tạo bài viết mới</h5>
    </header>
    <div class="content-inner">
        <div class="form-wrapper">
            {{#each this.errors}}
            <div class="alert alert-danger" role="alert">
                {{this}}
            </div>
            {{/each}}

            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label><b>Tiêu đề</b></label>
                    <input type="text" class="form-control" name="TITLE" placeholder="Nhập tiêu đề bài viết"
                        {{#if this.values}} value="{{this.values.TITLE}}" {{else}} value="" {{/if}} />
                </div>

                <div class="form-group">
                    <label><b>Tag</b></label>
                    <select class="chosen-select" name="TAG" data-placeholder="Chọn tag" multiple>
                        {{#each this.tags}}
                        {{{selectSelected ID NAME ../this.values.TAG}}}
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label><b>Hình ảnh</b></label>
                    {{!-- <div>
                        <input name="IMAGE" type="file">
                    </div> --}}
                    <div class="row ml-0 mr-0">
                        <div class="col-4 p-0">
                            <div class="card mx-auto">
                                <img id="image_1" class="card-img" src="/uploads/IMG_NOTFOUND.jpg">
                                <div
                                    class="card-img-overlay d-flex flex-column align-items-center justify-content-between">
                                    <h6 class="card-title d-block">Hình đại diện</h6>
                                    <div>
                                        <input type="button" id="get_image_file_1" value="Đổi ảnh" class="btn btn-primary btn-sm">
                                        <input type="button" id="remove_file_1" value="Xóa ảnh" class="btn btn-secondary btn-sm">
                                        <input type="file" id="image_file_1" class="d-none" name="image_info" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label><b>Nội dung tóm tắt</b></label>
                    <div>
                        <textarea name="SHORTCONTENT" cols="60" rows="5"
                            placeholder="Nhập nội dung tóm tắt bài viết">{{#if this.values}} {{this.values.SHORTCONTENT}} {{else}} {{/if}}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label><b>Nội dung</b></label>
                    <div>
                        <textarea class="form-control" name="CONTENT" id="my_editor"></textarea>
                    </div>
                </div>

                <div class="custom-control custom-control-inline custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="inlineCheckbox3" value="option3" />
                    <label class="custom-control-label" for="inlineCheckbox3">Đăng khi bấm chọn</label>
                </div>

                <div class="clearfix">
                    <button type="submit" id="submit" class="btn btn-success float-right">
                        Xác nhận
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{{#section 'js'}}
<script src="/admin/chosen_v1.8.7/chosen.jquery.min.js"></script>
<script src="/admin/js/chosen-select.js"></script>
{{!-- 
<script>
    CKEDITOR.replace("contain");
</script> --}}

{{!-- inmport my js --}}
<script src="/admin/ckeditor5-build-classic/build/ckeditor.js"></script>
<script src="/admin/js/ckeditor5-classicEditor.js"></script>

{{!--Xử lý thêm ảnh --}}
<script src="/admin/js/preview-image-jquery.js"></script>
{{/section}}