<div id="content" class="mb-5">
    <header>
        <h5 class="page_title mb-0">Tạo bài viết mới</h5>
    </header>
    <div class="content-inner">
        <div class="form-wrapper">
            {{#each this.errors}}
            <div class="alert alert-danger" role="alert">
                {{this}}
            </div>
            {{/each}}

            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label><b>Tiêu đề</b></label>
                    <input type="text" class="form-control" name="TITLE" placeholder="Nhập tiêu đề bài viết"
                        {{#if this.values}} value="{{this.values.TITLE}}" {{else}} value="" {{/if}} />
                </div>

                <div class="form-group">
                    <label><b>Tag</b></label>
                    <select class="chosen-select" name="TAG" data-placeholder="Chọn tag" multiple>
                        {{#each this.tags}}
                        {{{select_selected ID NAME ../this.values.TAG}}}
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label><b>Hình ảnh</b></label>
                    <div>
                        <input name="IMAGE" type="file">
                    </div>
                </div>

                <div class="form-group">
                    <label><b>Nội dung tóm tắt</b></label>
                    <div>
                        <textarea name="SHORTCONTENT" cols="60" rows="5"
                            placeholder="Nhập nội dung tóm tắt bài viết">{{#if this.values}} {{this.values.SHORTCONTENT}} {{else}} {{/if}}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label><b>Nội dung</b></label>
                    <div>
                        <textarea class="form-control" name="CONTENT" id="my_editor"></textarea>
                    </div>
                </div>

                <div class="custom-control custom-control-inline custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="inlineCheckbox3" value="option3" />
                    <label class="custom-control-label" for="inlineCheckbox3">Đăng khi bấm chọn</label>
                </div>

                <div class="clearfix">
                    <button type="submit" id="submit" class="btn btn-success float-right">
                        Xác nhận
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>