{{#section 'css'}}
<title>Quản lí thông tin hữu ích</title>

{{!-- responsive --}}
<link href="/admin/css/responsive-info-show.css" rel="stylesheet" />
{{!-- responsive --}}

{{!-- info show page --}}
<link href="/admin/css/info-show.css" rel="stylesheet" />
{{!-- info show page --}}
{{/section}}

<div id="content" class="mb-5">

    <header class="d-flex align-items-center justify-content-between">
        <h5 class="page_title mb-0">Tất cả bài viết</h5>
        <a href="/admin/info/info-add" class="btn btn-primary btn-sm">Thêm mới</a>
    </header>

    <div class="content-inner">
        <!--Thanh tìm kiếm-->
        <div class="row search-row ml-0 mr-0">
            <div class="col-md-12 p-0">
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control search-field" id="name" value="{{this.name}}"
                        placeholder="Tên bài viết, nội dung tóm tắt">
                    <div class="input-group-append">
                        <button class="btn btn-success" id="btn_search" type="button">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end thanh tìm kiếm-->

        <!--Table hiển thị sản phẩm-->
        <table class="table table-responsive mb-4">
            <thead>
                <tr>
                    <th class="text-center">Mã</th>
                    <th>Tên bài viết</th>
                    <th class="text-center">Hình ảnh</th>
                    <th class="text-center">Tag</th>
                    <th>Nội dung tóm tắt</th>
                    <th>Ngày đăng</th>
                    <th class="text-center">Tác vụ</th>
                </tr>
            </thead>

            <tbody>
                <!--Vòng lặp để in ra sản phẩm -->
                {{#each this.allNews}}
                <tr>
                    <td align="center">{{ID}}</td>
                    <td>
                        <div class="wordWrap info-title">
                            {{TITLE}}
                        </div>
                    </td>
                    <td align="center">
                        <img src="{{RESIZEDIMAGE}}" class="show-info-image">
                    </td>
                    <td>
                        {{#each TAGS}}
                        <div class="badge badge-pill badge-warning mb-1 d-block">{{NAME}}</div>
                        {{/each}}
                    </td>
                    <td>
                        <div class="wordWrap info-short-content">
                            {{SHORTCONTENT}}
                        </div>
                    </td>
                    <td>
                        <span>{{CREATED}}</span>
                    </td>
                    <td align="center">
                        <a href="/admin/info/info-update/{{ID}}" class="btn btn-sm btn-primary mr-1"><i
                                class="fas fa-pencil-alt"></i></a>
                        <button type="button" class="btn btn-sm btn-danger post_delete_info" id="{{ID}}"><i
                                class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
        <!--End Table hiển thị sản phẩm-->

        <hr>

        <!--Thanh điều hướng trang-->
        <div class="row justify-content-center">
            <nav>
                <ul class="pagination">
                    {{#if this.prePage.active}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{this.prePage.value}}{{createQueryCustomer name}}"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{else}}

                    {{/if}}
                    {{#each this.pages}}
                    {{#if active}}
                    <li class="page-item active"><a class="page-link"
                            href="?page={{value}}{{createQueryCustomer ../name}}">{{value}}</a>
                    </li>
                    {{else}}
                    <li class="page-item"><a class="page-link"
                            href="?page={{value}}{{createQueryCustomer ../name}}">{{value}}</a>
                    </li>
                    {{/if}}
                    {{/each}}
                    {{#if this.nextPage.active}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{this.nextPage.value}}{{createQueryCustomer name}}"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {{else}}

                    {{/if}}
                </ul>
            </nav>
        </div>
        <!--end Thanh điều hướng trang-->

    </div>
</div>

<!-- Button trigger modal -->
<button hidden type="button" class="btn btn-primary alert_modal" data-toggle="modal" data-target="#cannotRemoveModal">
    Không thể xóa
</button>

<!-- Modal -->
<div class="modal fade" id="cannotRemoveModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Không thể xóa bài viết
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

{{#section 'js'}}
<script src="/admin/js/info-show-view.js"></script>
{{/section}}