{{#section 'css'}}
<title>Quản lí danh sách sản phẩm</title>

{{!-- product show page --}}
<link href="/admin/css/product-show.css" rel="stylesheet" />
{{!-- product show page --}}

{{!-- responsive --}}
<link href="/admin/css/responsive-product-show.css" rel="stylesheet" />
{{!-- responsive --}}
{{/section}}

<!--Nội dung trang index-->
<div id="dashboard-con">
    <div id="content">
        <header class="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Danh sách sản phẩm</h5>
            <button type="button" class="btn btn-sm btn-primary">
                Thêm mới
            </button>
        </header>

        <div class="content-inner">
            <!--Thanh tìm kiếm sản phẩm-->
            <form class="form row ml-0 mr-0 mb-4">
                <div class="form-row col-7 col-sm-9 col-lg-10 p-0 ml-0 mr-0">
                    <div class="form-group col-12 col-sm-4 col-md-4 col-xl-3 mt-2 mb-0 pl-0">
                        <input type="password" class="form-control form-control-sm" id="inputPassword2"
                            placeholder="Tên sản phẩm">
                    </div>

                    <div class="form-group col-12 col-sm-4 col-md-4 col-xl-2 mb-0 mt-2 pl-0">
                        <select class="custom-select custom-select-sm">
                            <option value="" selected disabled>Danh mục</option>
                            {{#each this.categories}}
                             <option>{{NAME}}</option>
                             {{/each}}
                        </select>
                    </div>

                    <div class="form-group col-12 col-sm-4 col-md-4 col-xl-2 mb-0 mt-2 pl-0">
                        <select class="custom-select custom-select-sm">
                            <option value="" selected disabled>Loại sản phẩm</option>
                            {{#each this.subCategories}}
                             <option>{{NAME}}</option>
                             {{/each}}
                        </select>
                    </div>

                    <div class="form-group col-12 col-sm-4 col-md-4 col-xl-2 mb-0 mt-2 pl-0">
                        <select class="custom-select custom-select-sm">
                            <option value="" selected disabled>Nguồn gốc</option>
                            <option>Việt Nam</option>
                            <option>Mỹ</option>
                            <option>Pháp</option>
                        </select>
                    </div>

                    <div class="form-group col-12 col-sm-4 col-md-4 col-xl-2 mb-0 mt-2 pl-0">
                        <select class="custom-select custom-select-sm">
                            <option value="" selected disabled>Thương hiệu</option>
                            <!--Vòng lặp để lấy ra danh sách nhãn hiệu -->
                             {{#each this.brands}}
                             <option>{{NAME}}</option>
                             {{/each}}
                        </select>
                    </div>

                    <div class="form-group col-12 col-sm-8 col-md-8 col-lg-4 col-xl-3 mb-0 mt-2 pl-0">
                        <select class="custom-select custom-select-sm">
                            <option>Xem tất cả sản phẩm</option>
                            <option>Lọc</option>
                        </select>

                    </div>
                </div>
                <div class="col-5 col-sm-3 col-lg-2 pr-0 mt-2">
                    <button type="button" class="btn btn-sm btn-success w-100">
                        <i class="fas fa-search"></i>&ensp;Tìm kiếm
                    </button>
                </div>
            </form>
            <!--End thanh tìm kiếm sản phẩm-->


            <!--Table hiển thị sản phẩm-->
            <table class="table table-responsive mb-4">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Tên sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Nguồn gốc</th>
                        <th>Thương hiệu</th>
                        <th class="text-center">Hình ảnh</th>
                        <th>Thông tin</th>
                        <th class="text-center">Tác vụ</th>
                    </tr>
                </thead>

                <tbody>
                    <!--Vòng lặp để in ra sản phẩm -->
                    {{#each this.products}}
                    <tr>
                        <td>{{ID}}</td>
                        <td>{{NAME}}</td>
                        <td>{{CATEGORYNAME}}</td>
                        <td>Việt nam</td>
                        <td>{{BRANDNAME}}</td>
                        <td align="center">
                            <img src="{{IMAGE}}" id="productSimple{{ID}}" class="show-product-image">
                        </td>
                        <td>
                            <div>
                                {{#if SALE}}
                                    <div class="badge badge-warning mb-1">Đang giảm giá</div>
                                {{/if}}
                                <div>Giá:&nbsp;<span>{{PRICE}}</span>đ</div>
                                <div>Số lượng:&nbsp;<span>{{INVENTORY}}</span></div>
                            </div>
                        </td>
                        <td align="center">
                            <button type="button" class="btn btn-sm btn-primary get_update" get_id="{{ID}}">Sửa</button>
                            <button type="button" class="btn btn-sm btn-danger post_delete" post_id="{{ID}}">Xóa</button>
                        </td>
                    </tr>
                    {{/each}}
                
                </tbody>
            </table>
            <!--End Table hiển thị sản phẩm-->

            <hr />

            <!--Thanh điều hướng trang-->
            <div class="row justify-content-center">
                <!-- <div class="col-md-12"> -->
                <nav>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{#each this.pages}}
                            {{#if active}}
                                <li class="page-item active"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
                            {{else}}
                                <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
                            {{/if}}                           
                        {{/each}}
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- </div> -->
            </div>
            <!--End Nội dung trang index-->

            <!--footer-->
            <footer id="admin-footer">

                <div class="float-left"><b>Copyright</b>&copy; 2019</div>
                <div class="float-right">Trang admin</div>

            </footer>
            <!--end footer-->
        </div>
    </div>
</div>
<!--Nội dung trang index-->

{{#section 'js'}}
<script src="/admin/js/product-show-delete-product.js"></script>
<script src="/admin/js/product-show-update-product.js"></script>
{{/section}}
