{{#section 'css'}}
<title>Thêm sản phẩm</title>

{{!-- responsive --}}
<link href="/admin/css/responsive-product-add.css" rel="stylesheet" />
{{!-- responsive --}}

{{!--css --}}
<link href="/admin/css/product-add.css" rel="stylesheet" />
{{!--css --}}
{{/section}}

<!--Nội dung trang index-->
<div id="dashboard-con">
    <!--Card chứa form nhập thông tin của sản phẩm-->
    <form method="POST" enctype="multipart/form-data" id="add-product-form">
        <div class="card mt-3">
            <div class="card-header">
                <h5 class="mb-0">Thông tin sản phẩm</h5>
            </div>
            <div class="card-body">
                {{!--Mô tả lỗi khi không nhập thông tin --}}
                <div id="alert-image" class="alert alert-warning" role="alert">
                    Vui lòng nhập vào đủ số lượng ảnh
                </div>
                {{!--End Mô tả lỗi khi không nhập thông tin --}}
                <!--Form nhập thông tin-->
                <div class="form-group row">
                    {{!--UI chọn ảnh và thêm ảnh --}}
                    <div class="col-12 row d-flex justify-content-center">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto-top-bottom">
                            <div class="card mx-auto main-img-product-add">
                                <img id="image_1" class="card-img w-100 h-100" src="/uploads/IMG_NOTFOUND.jpg">
                                <div
                                    class="card-img-overlay d-flex flex-column align-items-center justify-content-between">
                                    <h6 class="card-title d-block">Hình đại diện</h6>
                                    <div>
                                        <input type="button" id="get_image_file_1" value="Đổi ảnh"
                                            class="btn btn-primary btn-sm">
                                        <input type="button" id="remove_file_1" value="Xóa ảnh"
                                            class="btn btn-secondary btn-sm">
                                        <input type="file" id="image_file_1" class="d-none" name="img_1" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto-top-bottom">
                                    <div class="card mx-auto small-img-product-add">
                                        <img id="image_2" class="card-img w-100 h-100" src="/uploads/IMG_NOTFOUND.jpg">
                                        <div
                                            class="card-img-overlay d-flex flex-column align-items-center justify-content-between">
                                            <h6 class="card-title d-block">Hình 1</h6>
                                            <div>
                                                <input type="button" id="get_image_file_2" value="Đổi ảnh"
                                                    class="btn btn-primary btn-sm">
                                                <input type="button" id="remove_file_2" value="Xóa ảnh"
                                                    class="btn btn-secondary btn-sm">
                                                <input type="file" id="image_file_2" class="d-none" name="img_2"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto-top-bottom">
                                    <div class="card mx-auto small-img-product-add">
                                        <img id="image_3" class="card-img w-100 h-100" src="/uploads/IMG_NOTFOUND.jpg">
                                        <div
                                            class="card-img-overlay d-flex flex-column align-items-center justify-content-between">
                                            <h6 class="card-title d-block">Hình 2</h6>
                                            <div>
                                                <input type="button" id="get_image_file_3" value="Đổi ảnh"
                                                    class="btn btn-primary btn-sm">
                                                <input type="button" id="remove_file_3" value="Xóa ảnh"
                                                    class="btn btn-secondary btn-sm">
                                                <input type="file" id="image_file_3" class="d-none" name="img_3"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto-top-bottom">
                                    <div class="card mx-auto small-img-product-add">
                                        <img id="image_4" class="card-img w-100 h-100" src="/uploads/IMG_NOTFOUND.jpg">
                                        <div
                                            class="card-img-overlay d-flex flex-column align-items-center justify-content-between">
                                            <h6 class="card-title d-block">Hình 3</h6>
                                            <div>
                                                <input type="button" id="get_image_file_4" value="Đổi ảnh"
                                                    class="btn btn-primary btn-sm">
                                                <input type="button" id="remove_file_4" value="Xóa ảnh"
                                                    class="btn btn-secondary btn-sm">
                                                <input type="file" id="image_file_4" class="d-none" name="img_4"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto-top-bottom">
                                    <div class="card mx-auto small-img-product-add">
                                        <img id="image_5" class="card-img w-100 h-100" src="/uploads/IMG_NOTFOUND.jpg">
                                        <div
                                            class="card-img-overlay d-flex flex-column align-items-center justify-content-between">
                                            <h6 class="card-title d-block">Hình 4</h6>
                                            <div>
                                                <input type="button" id="get_image_file_5" value="Đổi ảnh"
                                                    class="btn btn-primary btn-sm">
                                                <input type="button" id="remove_file_5" value="Xóa ảnh"
                                                    class="btn btn-secondary btn-sm">
                                                <input type="file" id="image_file_5" class="d-none" name="img_5"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!--End UI chọn ảnh và thêm ảnh --}}
                </div>


                <div class="form-group row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

                        <label for="inputIDproduct" class="mt-2"><b>Mã sản phẩm</b></label>
                        <div>
                            <input name="ID" type="text" class="form-control" id="inputIDproduct" placeholder="SPT01"
                                readonly>
                        </div>

                        <label for="inputnameProduct" class="mt-2"><b>Tên sản phẩm</b></label>
                        <div>
                            <input name="NAME" type="text" class="form-control" id="inputnameProduct"
                                placeholder="nhập vào tên sản phâm" required>
                        </div>





                        <div class="row">
                            <div class="col-6">
                                <label for="selectProductSource" class="mt-2"><b>Nguồn gốc</b></label>
                                <div>
                                    <select name="ORIGIN" class="custom-select mr-2" id="selectProductSource"
                                        required>
                                        <option selected>Việt Nam</option>
                                        <option value="Mỹ">Mỹ</option>
                                        <option value="Trung Quốc">Trung Quốc</option>
                                        <option value="Nhật bản">Nhật bản</option>
                                        <option value="Úc">Úc</option>
                                        <option value="New Zealand">New Zealand</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="selectProductBrand" class="mt-2"><b>Thương hiệu</b></label>
                                <div>
                                    <select name="BRANDID" class="custom-select mr-2" id="selectProductBrand"
                                        required>
                                        {{#each this.brands}}
                                        <option value="{{ID}}">{{NAME}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="selectProductType" class="mt-2"><b>Danh mục</b></label>
                                <select name="CATEGORYID" class="custom-select mr-2" id="selectProductType"
                                    required>
                                    {{#each this.categories}}
                                    <option value="{{ID}}">{{NAME}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="selectProductType" class="mt-2"><b>Loại sản phẩm</b></label>
                                <select name="SUBCATEGORYID" class="custom-select mr-2" id="selectProductType"
                                    required>
                                    {{#each this.subCategories}}
                                    <option value="{{ID}}">{{NAME}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>


                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <label for="inputnameProduct" class="mt-2"><b>Trọng lượng sản
                                phẩm</b></label>
                        <div>
                            <input type="number" name="KILOGRAM" type="text" class="form-control" id="inputnameProduct"
                                placeholder="nhập vào trọng lượng 1 sản phẩm" required>
                        </div>

                        <label for="inputnameProduct" class="mt-2"><b>Số lượng</b></label>
                        <div>
                            <input type="number" name="INVENTORY" type="text" class="form-control" id="inputnameProduct"
                                placeholder="nhập vào số lượng sản phẩm" required>
                        </div>

                        <label for="inputPriceProduct" class="mt-2"><b>Giá sản phẩm</b></label>
                        <div>
                            <input type="number" name="PRICE" type="text" class="form-control" id="inputPriceProduct"
                                placeholder="Nhập vào giá sản phẩm" required>
                        </div>
                        <label for="inputPromotionProduct" class="mt-2"><b>Giảm giá</b></label>
                        <div>
                            <input type="number" name="SALE" type="text" class="form-control" id="inputPromotionProduct"
                                placeholder="0" required>
                        </div>

                        {{!--Mô tả lỗi khi không nhập thông tin --}}
                        <div id="alert-number" class="alert alert-warning mt-2" role="alert">
                            Vui lòng nhập vào các giá trị hợp lệ
                        </div>
                        {{!--End Mô tả lỗi khi không nhập thông tin --}}
                    </div>

                </div>



                <!--End form nhập thông tin-->
            </div>
        </div>
        <!--End card chứa form nhập thông tin của sản phẩm-->

        <!--Card chứa form điền thông tin bài viêt-->
        <div class="card mt-3">

            <div class="card-header">
                <h5 class="mb-0">Mô tả sản phẩm</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="sr-only">Tag</label>
                    <select name="TAG" class="chosen-select" data-placeholder="Chọn tag" multiple required>
                        {{#each this.tags}}
                        <option value="{{ID}}">{{NAME}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    {{!--Mô tả lỗi khi không nhập thông tin --}}
                    <div id="alert-content" class="alert alert-warning" role="alert">
                        Vui lòng nhập vào mô tả sản phẩm
                    </div>
                    {{!--End Mô tả lỗi khi không nhập thông tin --}}
                    <label class="sr-only">Nội dung</label>

                    <textarea id="my_editor" class="form-control" name="contain"></textarea>

                </div>


                <div class="pl-2 pb-2">
                    <div class="custom-control custom-control-inline custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="custom-control-label" for="inlineCheckbox1">Mới</label>
                    </div>
                    <div class="custom-control custom-control-inline custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="custom-control-label" for="inlineCheckbox2">Nổi bật</label>
                    </div>
                    <div class="custom-control custom-control-inline custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="custom-control-label" for="inlineCheckbox3">Hiển thị</label>
                    </div>
                </div>

                <div class="float-right">
                    <button id="btn-submit-form" type="submit" class="btn btn-success mr-2">Đăng</button>
                    <button type="button" class="btn btn-danger">Hủy</button>
                </div>
            </div>
        </div>
        <!--End Card chứa form điền thông tin bài viêt-->
    </form>
</div>
<!--End Nội dung trang index-->


{{#section 'js'}}
<script src="/admin/chosen_v1.8.7/chosen.jquery.min.js"></script>
<script src="/admin/js/chosen-select.js"></script>

{{!-- <script>
    CKEDITOR.replace("contain");
</script> --}}

{{!-- inmport my js --}}
<script src="/admin/ckeditor5-build-classic/build/ckeditor.js"></script>
<script src="/admin/js/ckeditor5-classicEditor.js"></script>

{{!--Xử lý thêm ảnh --}}
<script src="/admin/js/preview-image-jquery.js"></script>

{{!--Xử lý dữ liệu từ UI--}}
<script src="/admin/js/validate-UI-addproduct.js"></script>
{{/section}}