{{#section 'css'}}
<title>Quản lí danh sách sản phẩm</title>

{{!-- product show page --}}
<link href="/admin/css/product-show.css" rel="stylesheet" />
{{!-- product show page --}}

{{!-- responsive --}}
<link href="/admin/css/responsive-product-show.css" rel="stylesheet" />
{{!-- responsive --}}
{{/section}}

<!--Nội dung trang index-->
<div id="dashboard-con">
    <div id="content">
        <header class="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Tất cả sản phẩm</h5>

            <div class="d-flex align-items-center">
                <input type="checkbox" id="switchType" class="switch"></input>
                <span id="labelType" class="ml-3">Sản phẩm thường</span>
            </div>

            <a href="/admin/product/product-add" class="btn btn-sm btn-primary">
                Thêm mới
            </a>
        </header>

        <div class="content-inner">
            <div id="product-simple-content">
                <!--Thanh tìm kiếm sản phẩm-->
                <form class="form row ml-0 mr-0 mb-4">
                    <div class="form-group col-12 col-sm-4 col-md-4 col-xl-3 mt-2 mb-0 pl-0">
                        <input type="text" id="NameSimple" value="{{this.nameSimple}}"
                            class="form-control form-control-sm" placeholder="Tên sản phẩm">
                    </div>
                    
                    <div class="form-group col-12 col-sm-4 col-md-4 col-xl-2 mb-0 mt-2 pl-0">
                         <select id="CategorySimple" class="form-control custom-select custom-select-sm">
                            <option value="0" selected disabled>Danh mục</option>
                            <option value="0">Tất cả</option>
                            {{#each this.categories}}
                            {{#isSelected ID ../this.categoryIDSimple}}
                            <option selected=selected value="{{ID}}">{{NAME}}</option>
                            {{else}}
                            <option value="{{ID}}">{{NAME}}</option>
                            {{/isSelected}}
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group col-12 col-sm-4 col-md-4 col-xl-2 mb-0 mt-2 pl-0">
                        <select id="SubCategorySimple" class="form-control custom-select custom-select-sm">
                            <option value="0" selected disabled>Loại sản phẩm</option>
                            <option value="0">Tất cả</option>
                            {{#each this.subCategories}}
                            {{#isSelected ID ../this.subCategoryIDSimple}}
                            <option selected=selected value="{{ID}}">{{NAME}}</option>
                            {{else}}
                            <option value="{{ID}}">{{NAME}}</option>
                            {{/isSelected}}
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group col-12 col-sm-4 col-md-4 col-xl-2 mb-0 mt-2 pl-0">
                         <select id="BrandSimple" class="form-control custom-select custom-select-sm">
                            <option value="0" selected disabled>Thương hiệu</option>
                            <option value="0">Tất cả</option>
                            <!--Vòng lặp để lấy ra danh sách nhãn hiệu -->
                            {{#each this.brands}}
                            {{#isSelected ID ../this.brandIDSimple}}
                            <option selected=selected value="{{ID}}">{{NAME}}</option>
                            {{else}}
                            <option value="{{ID}}">{{NAME}}</option>
                            {{/isSelected}}
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-5 col-sm-3 col-lg-2 pr-0 mt-2">
                        <button id="btn_search_simple" type="button" class="btn btn-sm btn-success w-100">
                            <i class="fas fa-search"></i>&ensp;Tìm kiếm
                        </button>
                    </div>
                </form>
                <!--End thanh tìm kiếm sản phẩm-->


                <!--Table hiển thị sản phẩm-->
                <table class="table table-responsive mb-4">
                    <thead>
                        <tr>
                            <th class="text-center">Mã</th>
                            <th>Tên sản phẩm</th>
                            <th>Danh mục</th>
                            <th>Nguồn gốc</th>
                            <th>Thương hiệu</th>
                            <th class="text-center">Hình ảnh</th>
                            <th>Thông tin</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!--Vòng lặp để in ra sản phẩm -->
                        {{#each this.products}}
                        <tr>
                            <td align="center">{{ID}}</td>
                            <td>
                                <div class="wordWrap product-name">
                                    {{NAME}}
                                </div>
                            </td>
                            <td>{{CATEGORYNAME}}</td>
                            <td>{{ORIGIN}}</td>
                            <td>{{BRANDNAME}}</td>
                            <td align="center">
                                <img src="{{IMAGE}}" id="productSimple{{ID}}" class="show-product-image">
                            </td>
                            <td>
                                <div>
                                    {{#if SALE}}
                                    <div class="badge badge-warning mb-1">Đang giảm giá</div>
                                    {{/if}}
                                    <div>Giá:&nbsp;<span>{{PRICE}}</span>đ</div>
                                    <div>Số lượng:&nbsp;<span>{{INVENTORY}}</span></div>
                                </div>
                            </td>
                            <td align="center">
                                <div class="update-delete">
                                    <a href="/admin/product/product-update/{{ID}}"
                                        class="btn btn-sm btn-primary mr-1"><i class="fas fa-pencil-alt"></i></a>
                                    <button type="button" class="btn btn-sm btn-danger post_delete_simple"
                                        id="{{ID}}"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
                <!--End Table hiển thị sản phẩm-->

                <hr />

                <!--Thanh điều hướng trang-->
                <div class="row justify-content-center">
                    <!-- <div class="col-md-12"> -->
                    <nav>
                        <ul class="pagination">
                            {{#if this.prePageSimple.active}}
                            <li class="page-item">
                                <a class="page-link" 
                                href="/admin/product/product-show-simple?page={{this.prePageSimple.value}}{{createQuerySimple categoryIDSimple subCategoryIDSimple brandIDSimple nameSimple}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {{else}}
 
                            {{/if}}
                            {{#each this.pagesSimple}}
                            {{#if active}}
                            <li class="page-item active"><a class="page-link"
                                    href="/admin/product/product-show-simple?page={{value}}{{createQuerySimple ../categoryIDSimple ../subCategoryIDSimple ../brandIDSimple ../nameSimple}}">{{value}}</a>
                            </li>
                            {{else}}
                            <li class="page-item"><a class="page-link"
                                    href="/admin/product/product-show-simple?page={{value}}{{createQuerySimple ../categoryIDSimple ../subCategoryIDSimple ../brandIDSimple ../nameSimple}}">{{value}}</a>
                            </li>
                            {{/if}}
                            {{/each}}
                            {{#if this.nextPageSimple.active}}
                            <li class="page-item">
                                <a class="page-link" 
                                href="/admin/product/product-show-simple?page={{this.nextPageSimple.value}}{{createQuerySimple categoryIDSimple subCategoryIDSimple brandIDSimple nameSimple}}"
                                 aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {{else}}
 
                            {{/if}}
                            
                        </ul>
                    </nav>
                    <!-- </div> -->
                </div>
                <!--End Nội dung trang index-->
            </div>

            <div id="product-combo-content">
                <!--Thanh tìm kiếm sản phẩm-->
                <form class="form row ml-0 mr-0 mb-4">
                    <div class="form-row col-7 col-sm-9 col-lg-10 p-0 ml-0 mr-0">
                        <div class="form-group col-12 col-sm-4 col-md-4 col-xl-3 mt-2 mb-0 pl-0">
                            <input type="text" class="form-control form-control-sm" id="product_combo_name"
                                value="{{this.nameCombo}}" placeholder="Tên sản phẩm combo">
                        </div>

                        <div class="form-group col-12 col-sm-4 col-md-4 col-xl-2 mb-0 mt-2 pl-0">
                            <input type="text" class="form-control form-control-sm" id="product_simple_name"
                                value="{{this.nameSimpleCombo}}" placeholder="Tên sản phẩm con">
                        </div>

                        {{!-- <div class="form-group col-12 col-sm-8 col-md-8 col-lg-4 col-xl-3 mb-0 mt-2 pl-0">
                            <select class="custom-select custom-select-sm">
                                <option>Xem tất cả sản phẩm</option>
                                <option>Lọc</option>
                            </select>

                        </div> --}}
                    </div>
                    <div class="col-5 col-sm-3 col-lg-2 pr-0 mt-2">
                        <button type="button" id="btn_search_combo" class="btn btn-sm btn-success w-100">
                            <i class="fas fa-search"></i>&ensp;Tìm kiếm
                        </button>
                    </div>
                </form>
                <!--End thanh tìm kiếm sản phẩm-->


                <!--Table hiển thị sản phẩm-->
                <table class="table table-responsive mb-4">
                    <thead>
                        <tr>
                            <th class="text-center">Mã</th>
                            <th>Tên sản phẩm</th>
                            <th>Tên sản phẩm con</th>
                            <th class="text-center">Hình ảnh</th>
                            <th>Thông tin</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!--Vòng lặp để in ra sản phẩm -->
                        {{#each this.productCombos}}
                        <tr>
                            <td align="center">{{ID}}</td>
                            <td>
                                <div class="wordWrap product-name">
                                    {{NAME}}
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div class="wordWrap product-name"><i
                                            class="fas fa-angle-right"></i>&nbsp;{{PRODUCTNAME1}}</div>
                                    <div class="wordWrap product-name"><i
                                            class="fas fa-angle-right"></i>&nbsp;{{PRODUCTNAME2}}</div>
                                    <div class="wordWrap product-name"><i
                                            class="fas fa-angle-right"></i>&nbsp;{{PRODUCTNAME3}}</div>
                                </div>
                            </td>
                            <td align="center">
                                <img src="{{PRODUCTIMAGE1}}" class="show-product-image">
                                <img src="{{PRODUCTIMAGE2}}" class="show-product-image">
                                <img src="{{PRODUCTIMAGE3}}" class="show-product-image">
                            </td>
                            <td>
                                <div>
                                    {{#if SALE}}
                                    <div class="badge badge-warning mb-1">Đang giảm giá</div>
                                    {{/if}}
                                    <div>Giá (nghìn vnđ):&nbsp;{{PRICE}}</div>
                                    <div>Số lượng:&nbsp;{{INVENTORY}}</div>
                                </div>
                            </td>
                            <td align="center">
                                <a href="/admin/product/product-combo-update/{{ID}}"
                                    class="btn btn-sm btn-primary mr-1"><i class="fas fa-pencil-alt"></i></a>
                                <button type="button" class="btn btn-sm btn-danger post_delete_combo" id="{{ID}}"><i
                                        class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
                <!--End Table hiển thị sản phẩm-->

                <hr />

                <!--Thanh điều hướng trang-->
                <div class="row justify-content-center">
                    <!-- <div class="col-md-12"> -->
                    <nav>
                        <ul class="pagination">
                            {{#if this.prePageCombo.active}}
                            <li class="page-item">
                                <a class="page-link" 
                                href="?page={{this.prePageCombo.value}}{{createQueryCombo nameCombo nameSimpleCombo}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {{else}}

                            {{/if}}
                            {{#each this.pagesCombo}}
                            {{#if active}}
                            <li class="page-item active"><a class="page-link"
                                    href="/admin/product/product-show-combo?page={{value}}{{createQueryCombo nameCombo nameSimpleCombo}}">{{value}}</a>
                            </li>
                            {{else}}
                            <li class="page-item"><a class="page-link"
                                    href="/admin/product/product-show-combo?page={{value}}{{createQueryCombo nameCombo nameSimpleCombo}}">{{value}}</a>
                            </li>
                            {{/if}}
                            {{/each}}
                            {{#if this.nextPageCombo.active}}
                            <li class="page-item">
                                <a class="page-link" 
                                href="?page={{this.nextPageCombo.value}}{{createQueryCombo nameCombo nameSimpleCombo}}"
                                 aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {{else}}

                            {{/if}}
                            
                        </ul>
                    </nav>
                    <!-- </div> -->
                </div>
                <!--End Nội dung trang index-->
            </div>
        </div>

        <!--footer-->
        <footer id="admin-footer">

            <div class="float-left"><b>Copyright</b>&copy; 2019</div>
            <div class="float-right">Trang admin</div>

        </footer>
        <!--end footer-->
    </div>
</div>
<!--Nội dung trang index-->

<!-- Button trigger modal -->
<button hidden type="button" class="btn btn-primary alert_modal" data-toggle="modal" data-target="#cannotRemoveModal">
  Không thể xóa
</button>

<!-- Modal -->
<div class="modal fade" id="cannotRemoveModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Không thể xóa sản phẩm
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

{{#section 'js'}}
<script src="/admin/js/product-show-view.js"></script>
{{/section}}