<!--Nội dung trang index-->
<div id="dashboard-con">

    <!--Card chứa form nhập thông tin của sản phẩm-->
    <form method="POST" enctype="multipart/form-data">
        <div class="card mt-3">
            <div class="card-header">
                <h5 class="mb-0">Thông tin sản phẩm</h5>
            </div>
            <div class="card-body">

                <!--Form nhập thông tin-->

                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <div id="preview"></div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><b>Hình ảnh</b></label>
                    <div class="col-sm-10">
                        <input name="IMAGE" id="browse" type="file" onchange="previewFiles()" multiple>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="selectProductType" class="col-sm-2 col-form-label"><b>Danh mục</b></label>
                    <div class="col-sm-10">
                        <select name="CATEGORYID" class="custom-select my-1 mr-sm-2" id="selectProductType">
                            {{#each this.categorylv1s}}
                            <option value="{{ID}}">{{NAME}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="selectProductType" class="col-sm-2 col-form-label"><b>Loại sản phẩm</b></label>
                    <div class="col-sm-10">
                        <select name="SUBCATEGORYID" class="custom-select my-1 mr-sm-2" id="selectProductType">
                            {{#each this.categorylv2s}}
                            <option value="{{ID}}">{{NAME}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="selectProductSource" class="col-sm-2 col-form-label"><b>Nguồn gốc</b></label>
                    <div class="col-sm-10">
                        <select name="ORIGIN" class="custom-select my-1 mr-sm-2" id="selectProductSource">
                            <option selected>Việt Nam</option>
                            <option value="Mỹ">Mỹ</option>
                            <option value="Trung Quốc">Trung Quốc</option>
                            <option value="Nhật bản">Nhật bản</option>
                            <option value="Úc">Úc</option>
                            <option value="New Zealand">New Zealand</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="selectProductBrand" class="col-sm-2 col-form-label"><b>Thương hiệu</b></label>
                    <div class="col-sm-10">
                        <select name="BRANDID" class="custom-select my-1 mr-sm-2" id="selectProductBrand">
                            {{#each this.brands}}
                            <option value="{{ID}}">{{NAME}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputIDproduct" class="col-sm-2 col-form-label"><b>Mã sản phẩm</b></label>
                    <div class="col-sm-10">
                        <input name="ID" type="text" class="form-control" id="inputIDproduct" placeholder="SPT01">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputnameProduct" class="col-sm-2 col-form-label"><b>Tên sản phẩm</b></label>
                    <div class="col-sm-10">
                        <input name="NAME" type="text" class="form-control" id="inputnameProduct"
                            placeholder="nhập vào tên sản phâm">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputnameProduct" class="col-sm-2 col-form-label"><b>Trọng lượng sản phẩm</b></label>
                    <div class="col-sm-10">
                        <input name="KILOGRAM" type="text" class="form-control" id="inputnameProduct"
                            placeholder="nhập vào trọng lượng 1 sản phẩm">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputnameProduct" class="col-sm-2 col-form-label"><b>Số lượng</b></label>
                    <div class="col-sm-10">
                        <input name="INVENTORY" type="text" class="form-control" id="inputnameProduct"
                            placeholder="nhập vào số lượng sản phẩm">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPriceProduct" class="col-sm-2 col-form-label"><b>Giá sản phẩm</b></label>
                    <div class="col-sm-10">
                        <input name="PRICE" type="text" class="form-control" id="inputPriceProduct"
                            placeholder="Nhập vào giá sản phẩm">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPromotionProduct" class="col-sm-2 col-form-label"><b>Giảm giá</b></label>
                    <div class="col-sm-10">
                        <input name="SALE" type="text" class="form-control" id="inputPromotionProduct" placeholder="0">
                    </div>
                </div>

                <!--End form nhập thông tin-->
            </div>
        </div>
        <!--End card chứa form nhập thông tin của sản phẩm-->

        <!--Card chứa form điền thông tin bài viêt-->
        <div class="card mt-3">

            <div class="card-header">
                <h5 class="mb-0">Mô tả sản phẩm</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="sr-only">Tag</label>
                    <select name="TAG" class="chosen-select" data-placeholder="Chọn tag" multiple>
                        {{#each this.tags}}
                        <option value="{{ID}}">{{NAME}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label class="sr-only">Nội dung</label>
                    <textarea class="form-control" name="contain"></textarea>
                </div>


                <div class="pl-2 pb-2">
                    <div class="custom-control custom-control-inline custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="custom-control-label" for="inlineCheckbox1">Mới</label>
                    </div>
                    <div class="custom-control custom-control-inline custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="custom-control-label" for="inlineCheckbox2">Nổi bật</label>
                    </div>
                    <div class="custom-control custom-control-inline custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="custom-control-label" for="inlineCheckbox3">Hiển thị</label>
                    </div>
                </div>

                <div class="float-right">
                    <button type="submit" class="btn btn-success mr-2">Đăng</button>
                    <button type="button" class="btn btn-danger">Hủy</button>
                </div>
            </div>
        </div>
        <!--End Card chứa form điền thông tin bài viêt-->
    </form>


</div>
<!--End Nội dung trang index-->