<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Home</title>

    <!-- import bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <!-- import bootstrap -->

    <!-- import google font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <!-- end import google font -->

    <!-- import chosen -->
    <link rel="stylesheet" type="text/css" href="/admin/chosen_v1.8.7/chosen.min.css">
    <!-- end import chosen -->

    {{!-- css all page --}}
    <link href="/admin/css/admin-style.css" rel="stylesheet" />
    <link href="/admin/css/component-menu-admin.css" rel="stylesheet" />
    <link href="/admin/css/component-report-card.css" rel="stylesheet" />
    <link href="/admin/css/component-go-up.css" rel="stylesheet" />
    <link href="/admin/css/content-5-page.css" rel="stylesheet" />
    {{!-- css all page --}}


    {{{_sections.css}}}
</head>

<body>
    <!-- go up -->
    <div class="component-go-up">
        <button type="button" id="btn-go-up" class="btn btn-success btn-go-up">
            <i class="fas fa-arrow-up fa-2x icon-go-up"></i>
        </button>
    </div>
    <!-- go up -->

    <!--Thẻ lớn nhất chứa cả trang web-->
    <div class="container-fluid h-100">
        <!--Chia ra từng hàng-->
        <div class="row h-100">
            <!--Thêm vào để text fixed-->
            <div class="col-2 col-sm-1 col-md-1 col-lg-2 col-xl-2 table-cell float-none align-top
     d-none d-sm-none d-md-block d-lg-block d-xl-block" id="side-menu-temp">

            </div>
            <!--End Thêm vào để text fixed-->

            <!--slide menu-->
            <div class="col-2 col-sm-1 col-md-1 col-lg-2 col-xl-2 table-cell float-none align-top h-100 fixed-top
   d-none d-sm-none d-md-block d-lg-block d-xl-block" id="side-menu">
                <div class="top-menu d-none d-lg-block"><span class="logo"></span></div>
                <!-- <h4 class="d-none d-sm-none d-md-none d-lg-block d-xl-block">Trang quản trị</h4> -->
                <ul>
                    {{#if sidebar.0.active}}
                    <li class="link ads-button">
                        <a href="/admin/index">
                            <span class="fas fa-home"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Trang chủ</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="link">
                        <a href="/admin/index">
                            <span class="fas fa-home"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Trang chủ</span>
                        </a>
                    </li>
                    {{/if}}

                    {{#if sidebar.1.active}}
                    <li class="link ads-button">
                        <a href="/admin/customer/customer-show">
                            <span class="fas fa-users"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Khách hàng</span>
                            <span
                                class="badge badge-light p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.1.quantity}}</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="link">
                        <a href="/admin/customer/customer-show">
                            <span class="fas fa-users"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Khách hàng</span>
                            <span
                                class="badge badge-success p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.1.quantity}}</span>
                        </a>
                    </li>
                    {{/if}}

                    {{#if sidebar.2.active}}
                    <li class="link ads-button">
                        <a href="/admin/report">
                            <span class="fas fa-chart-pie"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Thống kê</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="link">
                        <a href="/admin/report">
                            <span class="fas fa-chart-pie"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Thống kê</span>
                        </a>
                    </li>
                    {{/if}}

                    {{#if sidebar.3.active}}
                    <li class="link ads-button">
                        <a href="/admin/order/order-show">
                            <span class="fas fa-shopping-cart"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Đơn hàng</span>
                            <span
                                class="badge badge-light p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.3.quantity}}</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="link">
                        <a href="/admin/order/order-show">
                            <span class="fas fa-shopping-cart"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Đơn hàng</span>
                            <span
                                class="badge badge-success p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.3.quantity}}</span>
                        </a>
                    </li>
                    {{/if}}

                    {{#if sidebar.4.active}}
                    <li class="link ads-button">
                        <a href="/admin/product/product-show-simple">
                            <span class="fas fa-carrot"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Sản phẩm</span>
                            <span
                                class="badge badge-light p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.4.quantity}}</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="link">
                        <a href="/admin/product/product-show-simple">
                            <span class="fas fa-carrot"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Sản phẩm</span>
                            <span
                                class="badge badge-success p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.4.quantity}}</span>
                        </a>
                    </li>
                    {{/if}}

                    {{#if sidebar.5.active}}
                    <li class="link ads-button">
                        <a href="/admin/product/product-add">
                            <span class="fas fa-cart-plus"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Thêm sản phẩm</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="link">
                        <a href="/admin/product/product-add">
                            <span class="fas fa-cart-plus"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Thêm sản phẩm</span>
                        </a>
                    </li>
                    {{/if}}

                    {{#if sidebar.6.active}}
                    <li class="link ads-button">
                        <a href="/admin/info/info-show">
                            <span class="fas fa-file-alt"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Bài viết</span>
                            <span
                                class="badge badge-light p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.6.quantity}}</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="link">
                        <a href="/admin/info/info-show">
                            <span class="fas fa-file-alt"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Bài viết</span>
                            <span
                                class="badge badge-success p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.6.quantity}}</span>
                        </a>
                    </li>
                    {{/if}}

                    {{#if sidebar.7.active}}
                    <li class="link ads-button">
                        <a href="/admin/info/info-add">
                            <span class="fas fa-file-medical"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Thêm bài viết</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="link">
                        <a href="/admin/info/info-add">
                             <span class="fas fa-file-medical"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Thêm bài viết</span>
                        </a>
                    </li>
                    {{/if}}

                    {{#if sidebar.8.active}}
                    <li class="link ads-button">
                        <a href="/admin/comment/product-comment">
                            <span class="fas fa-comments"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Bình luận</span>
                            <span
                                class="badge badge-light p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.8.quantity}}</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="link">
                        <a href="/admin/comment/product-comment-simple">
                            <span class="fas fa-comments"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Bình luận</span>
                            <span
                                class="badge badge-success p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.8.quantity}}</span>
                        </a>
                    </li>
                    {{/if}}

                     {{#if sidebar.9.active}}
                    <li class="link ads-button">
                        <a href="/admin/category/category-show">
                            <span class="fas fa-list"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Danh mục</span>
                            <span
                                class="badge badge-light p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.9.quantity}}</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="link">
                        <a href="/admin/category/category-show">
                             <span class="fas fa-list"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Danh mục</span>
                            <span
                                class="badge badge-success p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.9.quantity}}</span>
                        </a>
                    </li>
                    {{/if}}

                     {{#if sidebar.10.active}}
                    <li class="link ads-button">
                        <a href="/admin/subCategory/subCategory-show">
                            <span class="fas fa-grip-vertical"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Danh mục con</span>
                            <span
                                class="badge badge-light p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.10.quantity}}</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="link">
                        <a href="/admin/subCategory/subCategory-show">
                            <span class="fas fa-grip-vertical"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Danh mục con</span>
                            <span
                                class="badge badge-success p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.10.quantity}}</span>
                        </a>
                    </li>
                    {{/if}}

                     {{#if sidebar.11.active}}
                    <li class="link ads-button">
                        <a href="/admin/tag/tag-show">
                            <span class="fas fa-tags"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Tag</span>
                            <span
                                class="badge badge-light p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.11.quantity}}</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="link">
                        <a href="/admin/tag/tag-show">
                            <span class="fas fa-tags"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Tag</span>
                            <span
                                class="badge badge-success p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.11.quantity}}</span>
                        </a>
                    </li>
                    {{/if}}

                     {{#if sidebar.12.active}}
                    <li class="link ads-button">
                        <a href="/admin/brand/brand-show">
                            <span class="fas fa-store"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Thương hiệu</span>
                            <span
                                class="badge badge-light p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.12.quantity}}</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="link">
                        <a href="/admin/brand/brand-show">
                            <span class="fas fa-store"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Thương hiệu</span>
                            <span
                                class="badge badge-success p-1 d-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{sidebar.12.quantity}}</span>
                        </a>
                    </li>
                    {{/if}}

                    {{#if sidebar.13.active}}
                    <li class="link ads-button">
                        <a href="404-not-found.html">
                            <span class="fas fa-ad"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Khuyến mãi</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="link">
                        <a href="404-not-found.html">
                            <span class="fas fa-ad"></span>
                            <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline ml-2">Khuyến mãi</span>
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
            <!--End slide menu-->

            <!--Nội dung-->
            <!--Mặc định padding -15 của col-->
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-10 table-cell float-none align-top pl-0 pr-0 pt-0"
                id="col-content">

                <form id="frmLogout" action="/admin/auth/logout" method="POST"></form>
                <header class="nav-header row m-0 sticky-top">
                    <!--mặc định bị padding-->
                    <!-- <div class="row m-0 pt-4 pb-3"> -->
                    <div class="content-left col-2 col-sm-6 col-md-7 col-lg-3 col-xl-4 pr-0 d-flex align-items-center">
                        <nav class="navbar-default d-block d-sm-block d-md-none d-lg-none d-xl-none d-none">
                            <button class="navbar-toggler collapsed p-0" type="button" data-toggle="offcanvas"
                                data-target="#side-menu">
                                <span class="fas fa-bars"></span>
                            </button>
                        </nav>
                        <input class="header-search-field d-none d-md-block ml-3" type="text" placeholder="Tìm kiếm">
                    </div>

                    <div
                        class="content-right row ml-0 mr-0 col-10 col-sm-6 col-md-5 col-lg-9 col-xl-8 d-flex align-items-center">
                        <!-- <ul class="list-unstyled row ml-0 mr-0"> -->
                        <div class="col-0 col-lg-6 text-right d-none d-lg-block">Chào mừng đến trang quản lý</div>
                        <div class="col-12 col-lg-6 text-right">
                            {{!-- <a href="#" class="mr-4">
                                <span class="fas fa-bell"></span>
                                <span class="badge badge-success label-message">3</span>
                            </a>
                            <a href="#" class="mr-5">
                                <span class="fas fa-envelope"></span>
                                <span class="badge badge-success label-message">3</span>
                            </a> --}}
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Chào, <b>{{authUser.name}}</b>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                        <a href="javascript: $('#frmLogout').submit();" class="logout d-block pl-3">
                                            <span class="fas fa-sign-out-alt"></span>
                                            &nbsp;Đăng xuất
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- </ul> -->
                    </div>
                    <!-- </div> -->
                </header>

                {{{body}}}

                <!--footer-->
                <footer id="admin-footer"
                    class="d-flex justify-content-between align-items-center w-100 position-absolute">

                    <div><b>Copyright</b>&copy; 2019</div>
                    <div>Trang admin</div>

                </footer>
                <!--end footer-->
            </div>

        </div>

    </div>

    <!--Thẻ lớn nhất chứa cả trang web-->

    {{!-- import bootstrap --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {{!-- end import bootstrap --}}

    {{{_sections.js}}}


    {{!-- inmport my js i--}}
    <script src="/admin/js/404-not-found.js"></script>
    <script src="/admin/js/go-up.js"></script>
    <script src="/admin/js/nav-bar-side-menu.js"></script>
    <script src="/admin/js/preview-image.js"></script>

</body>

</html>