<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <!-- import slick -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css" />
    <!-- import slick -->
    <!-- import bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <!-- import bootstrap -->

    <!-- import google font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <!-- end import google font -->

    {{!-- datetime picker --}}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

    {{!-- css all page --}}
    {{!--css input file--}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
        rel="stylesheet" type="text/css" />
    {{!--css input file--}}
    <link href="/customer/css/animate.css" rel="stylesheet" />
    <link href="/customer/css/customer-style.css" rel="stylesheet" />
    <link href="/customer/css/slide-show.css" rel="stylesheet" />
    <link href="/customer/css/component-footer.css" rel="stylesheet" />
    <link href="/customer/css/component-header.css" rel="stylesheet" />
    <link href="/customer/css/component-image-divider.css" rel="stylesheet" />
    <link href="/customer/css/component-login-register-modal.css" rel="stylesheet" />
    <link href="/customer/css/component-show-fast-cart.css" rel="stylesheet" />
    <link href="/customer/css/component-get-email.css" rel="stylesheet" />
    <link href="/customer/css/component-sidebar-menu.css" rel="stylesheet" />
    <link href="/customer/css/component-go-up.css" rel="stylesheet" />
    <link href="/customer/css/component-avatar-user.css" rel="stylesheet" />
    <link href="/customer/css/component-quantity-product.css" rel="stylesheet" />
    {{!-- css all page --}}

    {{!-- responsive --}}
    <link href="/customer/css/responsive-header.css" rel="stylesheet" />
    <link href="/customer/css/responsive-footer.css" rel="stylesheet" />
    {{!-- responsive --}}

    {{{_sections.css}}}
</head>

<body>
    <div class="bg-over-lay"></div>

    <div class="component-sidebar-menu">
        <div id="mySidenav" class="side-bar">
            <div class="top-menu"><span class="logo"></span></div>
            <ul class="main-menu">
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="" id="side-bar-open-header-user-modal" data-toggle="modal"
                        data-target="#header-user-modal">Đăng nhập</a></li>
                <li class="position-relative">
                    <a href="product-show.html">Sản phẩm</a>
                    <i id="dropdown-icon" class="dropdown-icon fa fa-caret-left"></i>

                    <ul class="dropdown-container transform">
                        <li class="position-relative">
                            <a href="product-show.html">Rau củ</a>
                            <i id="sub-dropdown-icon" class="dropdown-icon fa fa-caret-left"></i>
                            <ul class="dropdown-container list-unstyled sub-transform">
                                <li><a href="product-show.html">Rau củ 1</a> </li>
                                <li><a href="product-show.html">Rau củ 2</a></li>
                                <li><a href="product-show.html">Rau củ 3</a></li>
                            </ul>
                        </li>
                        <li><a href="product-show.html">Hoa quả</a></li>
                        <li><a href="product-show.html">Các loại hạt</a></li>
                    </ul>

                </li>

                <li><a href="info-show.html">Tin tức</a></li>
                <li><a href="404-not-found.html">Tags</a></li>
            </ul>
        </div>
    </div>

    <nav class="component-header bg-light row m-0 sticky-top shadow-sm">
        <nav class="navbar navbar-light bg-light row col-12 m-0 pl-0 pr-0">
            <div class="col-7 col-sm-5 col-md-3 col-lg-7 col-xl-7 p-0 m-0 row">
                <a href="javascript:void(0);"
                    class="open-sidebar position-relative p-0 col-4 col-sm-4 col-md-4 col-lg-3"><i
                        class="fas fa-bars position-absolute"></i></a>

                <a class="navbar-brand d-flex align-items-center m-0 col-8 col-sm-8 col-md-8 col-lg-4 col-xl-3"
                    href="/customer/index">
                    <img src="https://bizweb.dktcdn.net/100/350/980/themes/714097/assets/logo.png?1553920233466"
                        alt="" />
                </a>

                <ul
                    class="menu-items p-0 nav align-items-center justify-content-center col-sm-8 col-md-8 col-lg-8 col-xl-9">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Giới thiệu</a>
                    </li>
                    <li class="nav-item">

                        <div class="">
                            <div class="header-button-product nav-link position-relative">
                                Sản phẩm
                                <div class="card header-button-product-content">
                                    {{#each lcCategories}}
                                    {{!-- Nếu category ko có sản phẩm nào --}}
                                    {{#if QUANTITYCAT}}
                                    <div
                                        class="dropdown-item position-relative pr-3 {{#if isChoose}}category-choosing{{/if}}">
                                        <a href="/customer/product/product-show/{{IDCAT}}/0"
                                            class="stretched-link d-flex align-items-center justify-content-between">
                                            {{NAMECAT}}
                                            <span class="badge ml-1 badge-success badge-pill">{{QUANTITYCAT}}</span>
                                            <i class="fas fa-angle-right ml-3"></i>
                                        </a>
                                        <div class="card sub-dropdown-item">
                                            {{!-- Nếu category ko có sản phẩm nào --}}
                                            {{#if QUANTITYCAT}}
                                            {{#each SUB}}
                                            {{#if QUANTITYSUB}}
                                            <a class="dropdown-item {{#if isChoose}}sub-category-choosing{{/if}}"
                                                href="/customer/product/product-show/{{IDCAT}}/{{IDSUB}}">{{NAMESUB}}
                                                <span class="badge ml-1 badge-success badge-pill">{{QUANTITYSUB}}</span>
                                            </a>
                                            {{else}}
                                            <a class="dropdown-item disabled" href="javascript:void(0);">{{NAMESUB}}
                                            </a>
                                            {{/if}}
                                            {{/each}}
                                            {{/if}}
                                            {{!-- Nếu category ko có sản phẩm nào --}}
                                        </div>
                                    </div>
                                    {{else}}
                                    <div class="disabled dropdown-item pr-3">
                                        <a href="javascript:void(0);" class="disabled">
                                            {{NAMECAT}}
                                        </a>
                                    </div>
                                    {{/if}}
                                    {{!-- Nếu category ko có sản phẩm nào --}}
                                    {{/each}}

                                    <a class="dropdown-item d-flex align-items-center mb-1 {{#if isSelectComboCategory}}category-choosing{{/if}}"
                                        href="/customer/product/product-combo-show">Combo
                                        <span
                                            class="badge ml-1 badge-success badge-pill">{{lcSumQuantityProductCombo}}</span>
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-flex align-items-center mb-1 {{#if isSelectAllCategory}}category-choosing{{/if}}"
                                        href="/customer/product/product-all-show">Tất cả
                                        <span
                                            class="badge ml-1 badge-success badge-pill">{{lcSumQuantityProductAll}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/info/info-show">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer/info/tag/0">Tags</a>
                    </li>
                </ul>
            </div>

            <form class="col-sm-4 col-md-6 col-lg-3 col-xl-3 p-0 pl-2 align-items-center">
                <div class="form-group row align-items-center m-0">
                    <div class="col-8 col-sm-8 col-md-9 col-lg-7 col-xl-7 p-0 pr-2">
                        <input class="form-control" type="search" placeholder="Tên sản phẩm"
                            aria-label="Tên sản phẩm" />
                    </div>

                    <div class="col-4 col-sm-4 col-md-3 col-lg-5 col-xl-5 p-0">
                        <button class="btn btn-outline-success" type="submit">
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>

            <div
                class="menu-icons d-flex align-items-center justify-content-end col-5 col-sm-7 col-md-3 col-lg-2 col-xl-2">
                {{#if this.isAuthenticated}}

                {{else}}
                <a class="btn pl-2 pr-2 ml-1 d-block" id="modal-login-register" data-toggle="modal"
                    data-target="#header-user-modal">
                    <i class="far fa-user"></i>
                </a>
                {{/if}}

                <form id="frmLogout" action="/customer/auth/logout" method="POST"></form>
                {{#if this.isAuthenticated}}
                <div class="pt-0 pl-2 pr-2 ml-1 pb-1" id="my-account">
                    <div class="component-avatar-user position-relative">
                        <img id="customer-image_1" src="{{this.authUser.IMAGE}}" class="rounded-circle h-100 w-100" alt="">
                        <div class="card component-avatar-user-content">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#header-avatar-modal">Tài
                                khoản của tôi</a>
                            {{#if this.authUser.typeLogin}}
                            <a href="javascript: $('#frmLogout').submit();" class="dropdown-item">
                                <span class="fas fa-sign-out-alt"></span>
                                &nbsp;Đăng xuất
                            </a>
                            {{else}}
                            <a href="javascript:void(0);" id="btn-logout" class="dropdown-item">
                                <span class="fas fa-sign-out-alt"></span>
                                &nbsp;Đăng xuất
                            </a>
                            {{/if}}

                        </div>
                    </div>
                </div>
                {{else}}

                {{/if}}

                <div class="spanCart btn pl-2 pr-2 ml-1 mr-1" id="span-show-cart">
                    <i class="fas fa-shopping-cart position-relative">
                        <a href="/customer/cart/cart-detail" class="stretched-link"></a>
                        <div class="component-quantity-product position-absolute bg-danger">
                            <p id="pQuantityProduct" class="quantity m-0">{{quantityProduct}}</p>
                        </div>

                        {{#if isInCartDetail}}

                        {{else}}
                        <div class="component-show-fast-cart card mt-3" id="parentContainQuantityProduct">
                            <div class="style-scrollbar mt-3" id="containQuantityProduct">
                                {{!-- Các mặt hàng đã chọn của product simple --}}
                                <div id="containProductSimpleInCart">
                                    {{#each cartProducts}}
                                    <div class="component-show-fast-cart-items" id-quantity-cart="productSimple{{ID}}">
                                        <div class="d-flex align-items-center pl-3 pr-3 pb-3">
                                            <div class="position-relative product-image" data-toggle="tooltip"
                                                title="{{NAME}}">
                                                <a class="stretched-link"
                                                    href="/customer/product/product-detail/product-simple/{{ID}}"></a>
                                                <img src="{{IMAGE}}" class="mt-3 w-100 h-100" alt="" />
                                            </div>

                                            <div class="product-info text-left">
                                                <a href="/customer/product/product-detail/product-simple/{{ID}}"
                                                    class="title text-decoration-none" data-toggle="tooltip"
                                                    title="{{NAME}}">{{formatTitleProductForFastCart NAME}}</a>

                                                <div class="price mt-2" id="containPriceAndQuantity"
                                                    id-quantity-cart="productSimple{{ID}}">
                                                    <span id="spanPriceInRow"
                                                        id-quantity-cart-price="productSimple{{ID}}">{{formatPrice SALEPRICE}}</span>
                                                    <span><u>đ</u></span>
                                                    &nbsp;
                                                    <span>x</span>
                                                    <span id="spanQuantityProduct"
                                                        id-quantity-cart="productSimple{{ID}}">{{QUANTITY_PRO}}</span>
                                                </div>
                                            </div>

                                            <div class="product-delete text-right">
                                                <button id="btnDeleteQuantitySimple" id-quantity-simple={{ID}}
                                                    id-quantity-cart="productSimple{{ID}}" class="p-0 border-0"
                                                    data-toggle="tooltip" title="Xóa">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <hr class="m-0 ml-2 mr-2" />
                                    </div>
                                    {{/each}}
                                </div>
                                {{!-- Các mặt hàng đã chọn của product simple --}}

                                {{!-- Các mặt hàng đã chọn của product combo --}}
                                <div id="containProductComboInCart">
                                    {{#each cartProductsCombo}}
                                    <div class="component-show-fast-cart-items" id-quantity-cart="productCombo{{ID}}">
                                        <div class="d-flex align-items-center pl-3 pr-3 pb-3">
                                            <div class="position-relative product-image-combo pt-3 pb-3"
                                                data-toggle="tooltip" title="{{NAME}}">
                                                <a class="stretched-link"
                                                    href="/customer/product/product-detail/product-combo/{{ID}}"></a>
                                                <img src="{{IMAGE1}}" class="image-combo" alt="" />
                                                <img src="{{IMAGE2}}" class="image-combo" alt="" />
                                                <img src="{{IMAGE3}}" class="image-combo" alt="" />
                                            </div>


                                            <div class="product-info text-left">
                                                <a href="/customer/product/product-detail/product-combo/{{ID}}"
                                                    class="title text-decoration-none" data-toggle="tooltip"
                                                    title="{{NAME}}">{{formatTitleProductForFastCart NAME}}</a>

                                                <div class="price mt-2" id="containPriceAndQuantity"
                                                    id-quantity-cart="productCombo{{ID}}">
                                                    <span id="spanPriceInRow"
                                                        id-quantity-cart-price="productCombo{{ID}}">{{formatPrice SALEPRICE}}</span>
                                                    <span><u>đ</u></span>
                                                    &nbsp;
                                                    <span>x</span>
                                                    <span id="spanQuantityProduct"
                                                        id-quantity-cart="productCombo{{ID}}">{{QUANTITY_PRO}}</span>
                                                </div>
                                            </div>

                                            <div class="product-delete text-right">
                                                <button id="btnDeleteQuantityCombo" id-quantity-combo={{ID}}
                                                    id-quantity-cart="productCombo{{ID}}" class="p-0 border-0"
                                                    data-toggle="tooltip" title="Xóa">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <hr class="m-0 ml-2 mr-2" />
                                    </div>
                                    {{/each}}
                                </div>
                                {{!-- Các mặt hàng đã chọn của product combo --}}

                            </div>

                            <hr class="m-0 ml-2 mr-2" />

                            <div class="p-3 sum-price">
                                <div class="d-flex justify-content-between">
                                    <div class="sum-text">Tổng cộng:</div>
                                    <div class="price">
                                        <span id="spanSumPriceInFastCart"></span>
                                        <span><u>đ</u></span>
                                    </div>
                                </div>

                                <a href="/customer/cart/cart-detail"
                                    class="btn btn-outline-success mt-3 d-flex justify-content-center align-items-center font-weight-bold text-decoration-none p-2">
                                    Xem giỏ hàng ngay&ensp;<i class="fas fa-dollar-sign"></i>
                                </a>
                            </div>
                        </div>
                        {{/if}}
                    </i>
                </div>

            </div>
        </nav>

        <form class="form-inline text-center col-12 pl-0 pr-0">
            <input class="form-control mr-2" type="search" placeholder="Tên sản phẩm" aria-label="Tên sản phẩm" />
            <button class="btn btn-outline-success" type="submit">
                Tìm kiếm
            </button>
        </form>
    </nav>

    <!-- go up -->
    <div class="component-go-up">
        <button type="button" id="btn-go-up" class="btn btn-success btn-go-up">
            <i class="fas fa-arrow-up fa-2x icon-go-up"></i>
        </button>
    </div>
    <!-- go up -->

    {{{body}}}

    <!-- get mail -->
    <div class="container-fluid mt-5 p-0">
        <div class="component-get-email row p-3 ml-0 mr-0">
            <div class="col-sm-12 col-12 row align-items-center justify-content-center ml-0 mr-0 p-0">
                <i class="fas fa-envelope-open-text text-center col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1"></i>

                <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6">
                    <p class="title m-0">Đăng ký nhận bản tin</p>
                    <p class="content m-0">
                        Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn
                    </p>
                </div>

                <form class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <div class="form-group row align-items-center m-0">
                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 p-0 pr-2">
                            <input type="text" class="form-control form-control-sm"
                                placeholder="Địa chỉ email của bạn" />
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-0">
                            <button type="button" class="btn btn-success w-80">
                                Đăng ký
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="form-get-email col-12 col-sm-12 row ml-0 mr-0 mt-3 p-0">
                <div class="col-2 col-sm-2"></div>
                <form class="form-inline text-center col-10 col-sm-10">
                    <input type="text" class="form-control form-control-sm mr-2" placeholder="Địa chỉ email của bạn" />
                    <button type="button" class="btn btn-success">
                        Đăng ký
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- get mail -->

    <!-- Footer -->
    <footer class="component-footer font-small blue mt-5 pl-3">
        <div class="container-fluid text-center text-md-left">
            <!-- Grid row -->
            <div class="row pt-5 ml-0 mr-0">
                <!-- Grid column -->
                <div class="column-footer-1 col-12 col-xs-12 col-md-12 col-lg-3 col-xl-3">
                    <div class="logo-footer position-relative">
                        <a href="#" class="stretched-link"></a>
                    </div>

                    <ul class="list-unstyled mt-4 mb-4 text-left">
                        <li class="mb-3">
                            <i class="fas fa-map-marker-alt mr-2"></i>
                            <span>128/16/2c1 dường Âu Cơ, phường 14, quận 11, TP Hồ Chí
                                Minh</span>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-phone mr-2"></i>
                            <span>0973-446-184</span>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-envelope mr-2"></i>
                            <span>ngochanh2703@gmail.com</span>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="column-footer-2 col-4 col-xs-4 col-md-4 col-lg-3 col-xl-3 pt-4">
                    <p class="text-uppercase">Cẩm nang sử dụng</p>

                    <ul class="list-unstyled text-left">
                        <li class="mb-3">
                            <i class="fas fa-envelope mr-2"></i>
                            <a class="footerLink" href="#">Giới thiệu</a>
                        </li>
                        <li class="mb-3">
                            <i class="fab fa-product-hunt mr-2"></i>
                            <a class="footerLink" href="product-show.html">Sản phẩm</a>
                        </li>
                        <li class="mb-3">
                            <i class="far fa-newspaper mr-2"></i>
                            <a class="footerLink" href="info-show.html">Tin tức</a>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-info mr-2"></i>
                            <a class="footerLink" href="#">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="column-footer-3 col-4 col-xs-4 col-md-4 col-lg-3 col-xl-3 pt-4">
                    <p class="text-uppercase">Tài khoản khách hàng</p>

                    <ul class="list-unstyled text-left">
                        <li class="mb-3">
                            <i class="far fa-registered mr-2"></i>
                            <a class="footerLink" href="" data-toggle="modal" data-target="#header-user-modal">Đăng
                                kí</a>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-sign-in-alt mr-2"></i>
                            <a class="footerLink" href="" data-toggle="modal" data-target="#header-user-modal">Đăng
                                nhập</a>
                        </li>
                        <li class="mb-3">
                            <i class="fas fa-sign-out-alt mr-2"></i>
                            <a class="footerLink" href="#">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="column-footer-4 col-4 col-xs-4 col-md-4 col-lg-3 col-xl-3 pt-4">
                    <p class="text-uppercase">Kết nối với chúng tôi</p>

                    <ul class="list-unstyled text-left">
                        <li class="mb-3">
                            <i class="fab fa-facebook-square mr-2"></i>
                            <a class="footerLink" href="https://www.facebook.com">https://www.facebook.com</a>
                        </li>
                        <li class="mb-3">
                            <i class="fab fa-twitter-square mr-2"></i>
                            <a class="footerLink" href="https://www.twitter.com">https://www.twitter.com</a>
                        </li>
                        <li class="mb-3">
                            <i class="fab fa-instagram mr-2"></i>
                            <a class="footerLink" href="https://www.instagram.com">https://www.instagram.com</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Footer accordion -->
                <div class="accordion col-12 col-xs-12 col-md-12" id="footer-accordion">
                    <div class="card border-0">
                        <div id="footer-heading1">
                            <div
                                class="footer-accordion-header-1 position-relative d-flex justify-content-between mb-3">
                                <button class="btn btn-link text-decoration-none p-0 stretched-link text-uppercase"
                                    type="button" data-toggle="collapse" data-target="#footer-collapse1"
                                    aria-expanded="true" aria-controls="footer-collapse1">
                                    <h6>Cẩm nang sử dụng</h6>
                                </button>
                                <i class="footer-accordion-header-icon-1 fas fa-caret-left transform-left"></i>
                            </div>
                        </div>

                        <div id="footer-collapse1" class="collapse" aria-labelledby="footer-heading1">
                            <div>
                                <ul class="list-unstyled text-left">
                                    <li class="mb-3">
                                        <i class="fas fa-envelope mr-2"></i>
                                        <a class="footerLink" href="#">Giới thiệu</a>
                                    </li>
                                    <li class="mb-3">
                                        <i class="fab fa-product-hunt mr-2"></i>
                                        <a class="footerLink" href="product-show.html">Sản phẩm</a>
                                    </li>
                                    <li class="mb-3">
                                        <i class="far fa-newspaper mr-2"></i>
                                        <a class="footerLink" href="info-show.html">Tin tức</a>
                                    </li>
                                    <li class="mb-3">
                                        <i class="fas fa-info mr-2"></i>
                                        <a class="footerLink" href="#">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div id="footer-heading2">
                            <div
                                class="footer-accordion-header-2 position-relative d-flex justify-content-between mb-3">
                                <button class="btn btn-link text-decoration-none p-0 stretched-link text-uppercase"
                                    type="button" data-toggle="collapse" data-target="#footer-collapse2"
                                    aria-expanded="true" aria-controls="footer-collapse2">
                                    <h6>Tài khoản khách hàng</h6>
                                </button>
                                <i class="footer-accordion-header-icon-2 fas fa-caret-left transform-left"></i>
                            </div>
                        </div>

                        <div id="footer-collapse2" class="collapse" aria-labelledby="footer-heading2">
                            <div>
                                <ul class="list-unstyled text-left">
                                    <li class="mb-3">
                                        <i class="far fa-registered mr-2"></i>
                                        <a class="footerLink" href="" data-toggle="modal"
                                            data-target="#header-user-modal">Đăng kí</a>
                                    </li>
                                    <li class="mb-3">
                                        <i class="fas fa-sign-in-alt mr-2"></i>
                                        <a class="footerLink" href="" data-toggle="modal"
                                            data-target="#header-user-modal">Đăng nhập</a>
                                    </li>
                                    <li class="mb-3">
                                        <i class="fas fa-sign-out-alt mr-2"></i>
                                        <a class="footerLink" href="#">Đăng xuất</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div id="footer-heading3">
                            <div
                                class="footer-accordion-header-3 position-relative d-flex justify-content-between mb-3">
                                <button class="btn btn-link text-decoration-none p-0 stretched-link text-uppercase"
                                    type="button" data-toggle="collapse" data-target="#footer-collapse3"
                                    aria-expanded="true" aria-controls="footer-collapse3">
                                    <h6>Kết nối với chúng tôi</h6>
                                </button>
                                <i class="footer-accordion-header-icon-3 fas fa-caret-left transform-left"></i>
                            </div>
                        </div>

                        <div id="footer-collapse3" class="collapse" aria-labelledby="footer-heading3">
                            <div>
                                <ul class="list-unstyled text-left">
                                    <li class="mb-3">
                                        <i class="fab fa-facebook-square mr-2"></i>
                                        <a class="footerLink"
                                            href="https://www.facebook.com">https://www.facebook.com</a>
                                    </li>
                                    <li class="mb-3">
                                        <i class="fab fa-twitter-square mr-2"></i>
                                        <a class="footerLink" href="https://www.twitter.com">https://www.twitter.com</a>
                                    </li>
                                    <li class="mb-3">
                                        <i class="fab fa-instagram mr-2"></i>
                                        <a class="footerLink"
                                            href="https://www.instagram.com">https://www.instagram.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer accordion -->
            </div>
            <!-- Grid row -->
        </div>

        <!-- Footer info more -->
        <div class="text-center mt-4">
            <img class="mr-2" src="https://vinmart.com/Content/themes/vinmart/assets/img/Layer 9.png" />
            <img src="https://vinmart.com/Content/themes/vinmart/assets/img/Layer 10.png" />
        </div>

        <div class="pt-3 pb-2 text-center">
            <p>
                Điện thoại: 02471066866. Email: cskh@vinmart.com.
            </p>
            <p>
                Mã số doanh nghiệp: 0104918404 do Sở Kế hoạch và Đầu tư TP. Hà Nội cấp
                lần đầu ngày 20/09/2010. Đăng ký thay đổi lần thứ 35 do Sở kế hoạch
                Đầu tư TP. Hồ Chí Minh ngày 04/04/2018.
            </p>
        </div>
        <!-- Footer info more -->
    </footer>
    <!-- Footer -->

    <!-- component login register modal -->
    <div class="component-login-register-modal modal fade" data-backdrop="true" id="header-user-modal" tabindex="-1"
        role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content position-relative">
                <div class="modal-body p-0">
                    <div class="content-left float-left h-100 rounded-left pl-4 pr-2 pt-4 pb-2">
                        <div>
                            <h3 id="header-user-modal-title" class="font-weight-normal">
                                Đăng nhập
                            </h3>
                            <p id="header-user-modal-content">
                                Đăng nhập để theo dõi đơn hàng, lưu danh sách sản phẩm
                                yêu thích, nhận nhiều ưu đãi hấp dẫn.
                            </p>
                        </div>

                        <img src="https://pipe.tikicdn.com/media/upload/2018/10/12/2a3acb91a35d45e1b4b7c96912a0c84a.png"
                            alt="" />
                    </div>

                    <div class="content-right float-left rounded">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <p class="nav-item nav-link ml-3 active" id="header-login-modal-nav-tab"
                                    data-toggle="tab" href="#header-login-modal-nav" role="tab"
                                    aria-controls="header-login-modal-nav" aria-selected="true">
                                    Đăng nhập
                                </p>
                                <p class="nav-item nav-link ml-3" id="header-register-modal-nav-tab" data-toggle="tab"
                                    href="#header-register-modal-nav" role="tab"
                                    aria-controls="header-register-modal-nav" aria-selected="false">
                                    Đăng ký
                                </p>
                                <p class="nav-item nav-link ml-3" id="header-register-modal-nav-tab" data-toggle="tab"
                                    href="#header-forgot-pass-modal-nav" role="tab"
                                    aria-controls="header-forgot-pass-modal-nav" aria-selected="false">
                                    Quên mật khẩu
                                </p>
                            </div>
                        </nav>

                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="header-login-modal-nav" role="tabpanel"
                                aria-labelledby="header-login-modal-nav-tab">
                                <form id="frmLogin" class="p-4">
                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-login-modal-username"
                                            class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">Tài
                                            khoản</label>
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0">
                                            <input type="text" class="form-control form-control-sm"
                                                placeholder="Nhập tên đăng nhập" id="header-login-modal-username"
                                                name="USERNAME" />
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-login-modal-password"
                                            class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">Mật
                                            khẩu</label>
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0">
                                            <input type="password" class="form-control form-control-sm"
                                                placeholder="Nhập mật khẩu từ 6 đến 32 ký tự"
                                                id="header-login-modal-password" name="PASSWORD" />
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="col-0 col-sm-3 d-none d-sm-block col-form-label"></div>
                                        <button type="submit" class="btn btn-success col-12 col-sm-9">
                                            Đăng nhập
                                        </button>
                                    </div>
                                    <div class="d-flex mt-3">
                                        <div class="col-0 col-sm-3 d-none d-sm-block col-form-label"></div>
                                        <a href="/customer/auth/google" role="button"
                                            class="btn btn-danger col-12 col-sm-4">
                                            <i class="fab fa-google"></i>&ensp;Google
                                        </a>
                                        <div class="col-0 col-sm-1 d-none d-sm-block col-form-label"></div>
                                        <a href="/customer/auth/facebook" role="button"
                                            class="btn btn-primary col-12 col-sm-4 d-none d-sm-block">
                                            <i class="fab fa-facebook-f"></i>&ensp;Facebook
                                        </a>
                                    </div>
                                    <div class="mt-2 d-sm-none">
                                        <a href="/customer/auth/facebook" role="button"
                                            class="btn btn-primary col-12 col-sm-9">
                                            <i class="fab fa-facebook-f"></i>&ensp;Facebook
                                        </a>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="header-register-modal-nav" role="tabpanel"
                                aria-labelledby="header-register-modal-nav-tab">
                                <form id="frmRegister" class="p-4">
                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-register-modal-username"
                                            class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">Tài
                                            khoản</label>
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0">
                                            <input type="text" class="form-control form-control-sm"
                                                placeholder="Nhập tên đăng nhập" name="USERNAME"
                                                id="header-register-modal-username" />
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-register-modal-password"
                                            class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">Mật
                                            khẩu</label>
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0">
                                            <input type="password" class="form-control form-control-sm"
                                                placeholder="Mật khẩu từ 6 đến 32 ký tự" name="PASSWORD"
                                                id="header-register-modal-password" />
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-register-modal-confirmPassword"
                                            class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">Xác nhận
                                            mật
                                            khẩu</label>
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0">
                                            <input type="password" class="form-control form-control-sm"
                                                placeholder="Nhập lại mật khẩu" name="CONFIRMPASSWORD"
                                                id="header-register-modal-confirmPassword" />
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-register-modal-name"
                                            class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">Họ
                                            tên</label>
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0">
                                            <input type="text" class="form-control form-control-sm"
                                                placeholder="Nhập họ tên" name="FULLNAME"
                                                id="header-register-modal-name" />
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-register-modal-email"
                                            class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">Email</label>
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0">
                                            <input type="text" class="form-control form-control-sm"
                                                placeholder="Nhập email" name="EMAIL"
                                                id="header-register-modal-email" />
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-register-modal-birthdate"
                                            class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">Ngày
                                            sinh</label>
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0">
                                            <input type="text" class="form-control form-control-sm" name="BIRTHDATE"
                                                id="header-register-modal-birthdate" />
                                        </div>
                                    </div>

                                    {{!-- <div class="form-group row align-items-center ml-0 mr-0">
                                        <label class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">Giới
                                            tính</label>

                                        <div class="row col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0 ml-0 mr-0">
                                            <div class="custom-control custom-radio mr-3">
                                                <input type="radio" id="header-register-modal-gender-male"
                                                    name="customRadio" class="custom-control-input" />
                                                <label class="custom-control-label" id="lblMale"
                                                    for="header-register-modal-gender-male">Nam</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="header-register-modal-gender-female"
                                                    name="customRadio" class="custom-control-input" />
                                                <label class="custom-control-label" id="lblFemale"
                                                    for="header-register-modal-gender-female">Nữ</label>
                                            </div>
                                        </div>
                                    </div> --}}

                                    <div class="d-flex">
                                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label"></div>
                                        <button type="submit" class="btn btn-success col-sm-9">
                                            Đăng ký
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="header-forgot-pass-modal-nav" role="tabpanel"
                                aria-labelledby="header-register-modal-nav-tab">
                                <form id="frmForgotPass" class="p-4">
                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-register-modal-email"
                                            class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">Email</label>
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0">
                                            <input type="text" class="form-control form-control-sm"
                                                placeholder="Nhập email đã đăng ký" name="EMAIL"
                                                id="header-register-modal-email" />
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label"></div>
                                        <button type="submit" class="btn btn-success col-sm-9">
                                            Xác nhận
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn-close position-absolute border-0" data-dismiss="modal"
                        aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- component login register modal -->

    <!-- component user account modal -->
    <div class="component-user-account-modal modal fade" id="header-avatar-modal" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content position-relative">
                <div class="modal-body p-0">
                    <div class="content-left float-left h-100 rounded-left pl-4 pr-2 pt-4 pb-2">
                        <div>
                            <h3 id="header-avatar-modal-title" class="font-weight-normal">
                                Thông tin tài khoản
                            </h3>
                            <p id="header-avatar-modal-content">
                                Quí khách cần đảm bảo cung cấp thông tin một cách chính
                                xác để chúng tôi có thể liên hệ và tương tác một cách tốt
                                nhất.
                            </p>
                        </div>

                        <img src="https://pipe.tikicdn.com/media/upload/2018/10/12/2a3acb91a35d45e1b4b7c96912a0c84a.png"
                            alt="" />
                    </div>

                    <div class="content-right float-left rounded">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <p class="nav-item nav-link ml-3 active" id="header-info-modal-nav-tab"
                                    data-toggle="tab" href="#header-info-modal-nav" role="tab"
                                    aria-controls="header-info-modal-nav" aria-selected="true">
                                    Thông tin tài khoản
                                </p>
                                <p class="nav-item nav-link ml-3" id="header-edit-info-modal-nav-tab" data-toggle="tab"
                                    href="#header-edit-info-modal-nav" role="tab"
                                    aria-controls="header-edit-info-modal-nav" aria-selected="false">
                                    Chỉnh sửa thông tin
                                </p>
                                {{#is3ThLogin this.typeLogin}}

                                {{else}}
                                <p class="nav-item nav-link ml-3" id="header-edit-info-modal-nav-tab" data-toggle="tab"
                                    href="#header-edit-passwork-modal-nav" role="tab"
                                    aria-controls="header-edit-passwork-modal-nav" aria-selected="false">
                                    Thay đổi mật khẩu
                                </p>
                                {{/is3ThLogin}}
                            </div>
                        </nav>

                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="header-info-modal-nav" role="tabpanel"
                                aria-labelledby="header-info-modal-nav-tab">
                                <form class="p-4">
                                    {{#isEqual this.authUser.CUSTOMERTYPEID 2}}
                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label style="color: #e74c3c" class="col-4 col-form-label">Khách hàng
                                            vip</label>
                                    </div>
                                    {{else}}
                                    {{/isEqual}}
                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label class="col-4 col-form-label">Họ tên:</label>
                                        <div class="col-8 p-0">
                                            {{this.authUser.FULLNAME}}
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label class="col-4 col-form-label">Sinh nhật:</label>
                                        <div class="col-8 p-0">
                                            {{formatDate this.authUser.BIRTHDATE}}
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label class="col-4 col-form-label">SĐT:</label>
                                        <div class="col-8 p-0">
                                            {{this.authUser.PHONE}}
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label class="col-4 col-form-label">Email:</label>
                                        <div class="col-8 p-0">
                                            {{this.authUser.EMAIL}}
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label class="col-4 col-form-label">Ảnh đại diện:</label>
                                        <div class="col-8 p-0">
                                            <img id="customer-image_2" src="{{this.authUser.IMAGE}}" class="user-avatar rounded-circle">
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="header-edit-info-modal-nav" role="tabpanel"
                                aria-labelledby="header-edit-info-modal-nav-tab">
                                <form id="frmUpdate" class="p-4">
                                    <input hidden value=" {{this.authUser.ID}}" type="text" name="ID" />
                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-edit-info-modal-name" class="col-4 col-form-label">Họ
                                            tên</label>
                                        <div class="col-8 p-0">
                                            <input value=" {{this.authUser.FULLNAME}}" type="text" name="FULLNAME"
                                                class="form-control form-control-sm" placeholder="Nhập họ tên"
                                                id="header-edit-info-modal-name" />
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-edit-modal-birthdate" class="col-4 col-form-label">Sinh nhật</label>
                                        <div class="col-8 p-0">
                                            <input value="{{formatDatePicker this.authUser.BIRTHDATE}}" type="text" name="BIRTHDATE"
                                                class="form-control form-control-sm" placeholder="Nhập vào ngày sinh"
                                                id="header-edit-modal-birthdate" />
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-edit-info-modal-phone"
                                            class="col-4 col-form-label">SĐT</label>
                                        <div class="col-8 p-0">
                                            <input value="{{this.authUser.PHONE}}" type="text"
                                                class="form-control form-control-sm" name="PHONE"
                                                placeholder="Nhập số điện thoại" id="header-edit-info-modal-phone" />
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-edit-info-modal-email"
                                            class="col-4 col-form-label">Email</label>
                                        <div class="col-8 p-0">
                                            <input {{#isEqual 'google' this.typeLogin}} readonly {{else}} {{/isEqual}}
                                                value="{{this.authUser.EMAIL}}" type="text" name="EMAIL"
                                                class="form-control form-control-sm" placeholder="Nhập email"
                                                id="header-edit-info-modal-email" />
                                        </div>
                                    </div>

                                    <div class="d-flex">
                                        <div class="col-4 col-form-label">Ảnh đại diện</div>
                                        <div class="col-8 p-0 position-relative d-flex justify-content-center">
                                            <img id="customer-image_3" src="{{this.authUser.IMAGE}}" class="rounded-circle user-avatar">
                                            <button type="button" style="bottom: 0%; margin-left:8.5rem"
                                                class="rounded-circle btn-sm btn-info position-absolute mb-1"
                                                id="header-edit-info-modal-avatar">
                                                <i class="fas fa-pencil-alt"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="d-flex mt-4 justify-content-center">
                                        <div class="col-4 col-form-label"></div>
                                        <button type="submit" class="btn btn-success col-8">
                                            Lưu
                                        </button>
                                    </div>
                                </form>
                            </div>

                            {{#is3ThLogin this.typeLogin}}
                            {{else}}
                            <div class="tab-pane fade" id="header-edit-passwork-modal-nav" role="tabpanel"
                                aria-labelledby="header-edit-info-modal-nav-tab">
                                <form id="frmUpdatePass" class="p-4">
                                    <input hidden value=" {{this.authUser.ID}}" type="text" name="ID" />
                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-register-modal-password"
                                            class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">Mật
                                            khẩu cũ</label>
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0">
                                            <input type="password" class="form-control form-control-sm"
                                                placeholder="Mật khẩu cũ" name="OLDPASSWORD"
                                                id="header-update-modal-password" />
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-register-modal-confirmPassword"
                                            class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">
                                            Mật khẩu mới
                                        </label>
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0">
                                            <input type="password" class="form-control form-control-sm"
                                                placeholder="Mật khẩu từ 6 đến 32 ký tự" name="NEWPASSWORD"
                                                id="header-update-modal-newPassword" />
                                        </div>
                                    </div>

                                    <div class="form-group row align-items-center ml-0 mr-0">
                                        <label for="header-register-modal-confirmPassword"
                                            class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label">
                                            Xác nhận mật khẩu
                                        </label>
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 p-0">
                                            <input type="password" class="form-control form-control-sm"
                                                placeholder="xác nhận mật khẩu" name="CONFIRMPASSWORD"
                                                id="header-update-modal-confirmPassword" />
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-form-label"></div>
                                        <button type="submit" class="btn btn-success col-sm-9">
                                            Xác nhận
                                        </button>
                                    </div>
                                </form>
                            </div>
                            {{/is3ThLogin}}

                        </div>
                    </div>

                    <button type="button" class="btn-close position-absolute border-0" data-dismiss="modal"
                        aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- component user account modal -->

    <!-- component not enough product modal -->
    <div class="modal fade" id="not-enough-product-modal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Sản phẩm này hiện tại đã <strong>hết hàng</strong>, cảm ơn quí khách!!!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- component not enough product modal -->

    <!-- component not login modal -->
    <div class="modal fade" id="not-login-system-modal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn chưa <strong>đăng nhập</strong> vào hệ thống, mời bạn <strong>đăng nhập</strong>!!!
                </div>
                <div class="modal-footer">
                    <button id="btnAceptLoginSystem" type="button" class="btn btn-success" data-dismiss="modal">Đồng
                        ý</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- component not login modal -->

    <!-- component check mail model -->
    <div class="modal fade" id="checkmail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-header" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Vui lòng <strong>Kiểm tra</strong> Email để lấy link đổi mật khẩu</strong>!!!
                </div>
                <div class="modal-footer">
                    <button id="btnAceptLoginSystem" type="button" class="btn btn-success" data-dismiss="modal">Đồng
                        ý</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- component check mail model -->

    <!-- component check mail model -->
    <div class="modal fade" id="update-succes-modal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-header" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Cập nhật thành công!
                </div>
                <div class="modal-footer">
                    <button id="btnAceptLoginSystem" type="button" class="btn btn-success" data-dismiss="modal">Đồng
                        ý</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- component check mail model -->

    <!--Component model update avatar-->
    <div class="modal fade" id="update-Image-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">Cập nhật hình ảnh</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <form enctype="multipart/form-data" id="frmupdate-avatar" method="POST">
                        <div class="card">

                            <div class="card-header">
                                <label class="mb-0"><b>Chọn hình từ máy tính của bạn</b></label>
                            </div>
                            <div class="card-body">
                                <div class="form-group" id="user-update-image">
                                    <div>
                                        <input id="user-avatar" name="USER_IMAGE" type="file" multiple>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success pl-5 pr-5">Cập nhật hình
                                        ảnh</button>
                                </div>
                                <input hidden type="text" name="ID" class="form-control"
                                    value="{{this.authUser.ID}}">
                            </div>

                        </div>
                    </form>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Component model update avatar-->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {{{_sections.js}}}

    {{!-- js all page --}}
    <script src="/customer/js/login-register-modal.js"></script>
    <script src="/customer/js/user-account-modal.js"></script>
    <script src="/customer/js/go-up.js"></script>
    <script src="/customer/js/open-close-sidebar-menu.js"></script>
    <script src="/customer/js/footer-accordion.js"></script>
    <script src="/customer/js/component-header-hover-content-top.js"></script>
    <script src="/customer/js/handle-product-in-cart.js"></script>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="/customer/js/validate-UI-login.js"></script>
    <script src="/customer/js/validate-UI-register.js"></script>
    <script src="/customer/js/validate-UI-update-info.js"></script>
    <script src="/customer/js/validate-UI-update-pass.js"></script>
    <script src="/customer/js/validate-UI-send-email.js"></script>
    <script src="/customer/js/validate-UI-update-avatar.js"></script>
    <script src="/customer/js/main-customer.js"></script>

    {{!--input file --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
    {{!--input file --}}
    {{!-- js all page --}}
</body>

</html>