{{#section 'css'}}
<title>Chi tiết giỏ hàng</title>

{{!-- cart detail page --}}
<link href="/customer/css/component-cart-quantity.css" rel="stylesheet" />
<link href="/customer/css/component-product-simple.css" rel="stylesheet" />
<link href="/customer/css/component-quantity-product.css" rel="stylesheet" />
{{!-- cart detail page --}}

{{!-- responsive --}}
<link href="/customer/css/responsive-cart-detail.css" rel="stylesheet" />
{{!-- responsive --}}
{{/section}}

<!-- Breadcrumb header -->
<div class="breadcrumb-header container-fluid p-0">
    <div
        class="breadcrumb-div text-dark w-100 h-100 d-flex flex-column justify-content-center align-items-center pt-4 pb-4">
        <p>Chi tiết giỏ hàng</p>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="./index.html">Trang chủ</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Chi tiết giỏ hàng
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Breadcrumb header -->

<!-- quantity -->
<div class="container mt-5">
    <div class="row justify-content-start mt-5">
        <h3 class="text-success">Giỏ hàng của bạn có <b id="bQuantityInCartDetail">{{quantityProduct}}</b> sản phẩm</h3>
    </div>

    <div id="containProductSimpleInCartDetail" class="mt-5">
        {{#each cartProducts}}
        <div class="row mt-2">
            <div
                class="position-relative component-cart-quantity card d-flex flex-row align-items-center p-4 w-100 h-100"
                id-product-cart-detail="productSimple{{ID}}">

                {{!-- Nếu có giảm giá mới hiện ra --}}
                {{#if SALE}}
                <div id="sale-image" class="position-absolute d-flex justify-content-center">
                    -{{SALE}}%
                </div>
                {{/if}}
                {{!-- Nếu có giảm giá mới hiện ra --}}

                <div class="position-relative h-100 content-left" data-toggle="tooltip" title="{{NAME}}">
                    <a class="stretched-link" href="/customer/product/product-detail/product-simple/{{ID}}"></a>
                    <img src="{{IMAGE}}" class="h-100 w-100" alt="">
                </div>

                <div class="d-flex content-right">
                    <div class="product-info">
                        <a href="/customer/product/product-detail/product-simple/{{ID}}" class="title product-name">{{formatShortTitleCartDetail NAME}}</a>

                        <div class="mt-2 font-weight-bold product-price-sale">
                            <span>{{formatPrice SALEPRICE}}</span>
                            <span><u>đ</u></span>
                        </div>

                        {{!-- Nếu có giảm giá mới hiện ra --}}
                        {{#if SALE}}
                        <div class="mt-2 product-price-old">
                            <del>
                                {{formatPrice PRICE}}
                                <span><u>đ</u></span>
                            </del>
                        </div>
                        {{/if}}
                        {{!-- Nếu có giảm giá mới hiện ra --}}
                    </div>

                    <div class="d-flex align-items-center justify-content-center product-quantity">
                        <button id="btnDecreaseQuantity" id-product-cart-detail="productSimple{{ID}}" id-product-simple={{ID}}
                            class="d-flex justify-content-center align-items-center mr-1">
                            -
                        </button>

                        <input type="number" id="inputQuantityProduct"
                            class="mr-1 text-center p-1" id-product-cart-detail="productSimple{{ID}}" value="{{QUANTITY_PRO}}" />

                        <button id="btnIncreaseQuantity" id-product-cart-detail="productSimple{{ID}}" id-product-simple={{ID}}
                            class="d-flex justify-content-center align-items-center mr-1">
                            +
                        </button>
                    </div>

                    <div class="d-flex flex-column align-items-end product-general">
                        <div class="total-price-text">
                            Tổng tiền
                        </div>

                        <div class="mt-2 font-weight-bold total-price">
                            <span id="spanSumPriceInRow" id-product-cart-detail="productSimple{{ID}}">{{formatPrice SUMPRICE}}</span>
                            <span><u>đ</u></span>
                        </div>

                        <div class="mt-2 delete" data-toggle="tooltip" title="Xóa">
                            <button id="btnRemoveProduct" id-product-cart-detail="productSimple{{ID}}"
                            id-product-simple={{ID}} class="btn btn-sm btn-danger" type="button">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div id="containProductComboInCartDetail">
        {{#each cartProductsCombo}}
        <div class="row mt-2">
            <div class="component-cart-quantity card d-flex flex-row align-items-center p-4 w-100" 
            id-product-cart-detail="productCombo{{ID}}">

                {{!-- Nếu có giảm giá mới hiện ra --}}
                {{#if SALE}}
                <div id="sale-image" class="position-absolute d-flex justify-content-center">
                    -{{SALE}}%
                </div>
                {{/if}}
                {{!-- Nếu có giảm giá mới hiện ra --}}

                <div class="position-relative h-100 content-left d-flex align-items-center" data-toggle="tooltip"
                    title="{{NAME}}">
                    <a class="stretched-link" href="/customer/product/product-detail/product-simple/{{ID}}"></a>
                    <img src="{{IMAGE1}}" style="width: 33.33%;" alt="" />
                    <img src="{{IMAGE2}}" style="width: 33.33%;" alt="" />
                    <img src="{{IMAGE3}}" style="width: 33.33%;" alt="" />

                </div>

                <div class="d-flex content-right">
                    <div class="product-info">
                        <a href="/customer/product/product-detail/product-simple/{{ID}}"
                            class="title product-name">{{formatShortTitleCartDetail NAME}}</a>

                        <div class="mt-2 font-weight-bold product-price-sale">
                            <span>{{formatPrice SALEPRICE}}</span>
                            <span><u>đ</u></span>
                        </div>

                        <div class="mt-2 product-price-old">
                            <del>
                                {{formatPrice PRICE}}
                                <span><u>đ</u></span>
                            </del>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-center product-quantity">
                        <button id="btnDecreaseQuantity" id-product-cart-detail="productCombo{{ID}}" id-product-combo={{ID}}
                         class="d-flex justify-content-center align-items-center mr-1">
                            -
                        </button>

                        <input type="number" id="inputQuantityProduct" class="mr-1 text-center p-1"
                        id-product-cart-detail="productCombo{{ID}}" value="{{QUANTITY_PRO}}" disabled="false"/>

                        <button id="btnIncreaseQuantity" id-product-cart-detail="productCombo{{ID}}" id-product-combo={{ID}}
                        class="d-flex justify-content-center align-items-center mr-1">
                            +
                        </button>
                    </div>

                    <div class="d-flex flex-column align-items-end product-general">
                        <div class="total-price-text">
                            Tổng tiền
                        </div>

                        <div class="mt-2 font-weight-bold total-price">
                            <span id="spanSumPriceInRow" id-product-cart-detail="productCombo{{ID}}">{{formatPrice SUMPRICE}}</span>
                            <span><u>đ</u></span>
                        </div>

                        <div class="mt-2 delete" data-toggle="tooltip" title="Xóa">
                            <button class="btn btn-sm btn-danger" type="button"  id="btnRemoveProduct"
                            id-product-cart-detail="productCombo{{ID}}" id-product-combo={{ID}}>
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="row mt-5">
        <div class="d-flex flex-column align-items-center justify-content-center w-100">
            <div class="d-flex align-items-center justify-content-center">
                <h3 class="mb-0">Thành tiền:</h3>

                <div class="font-weight-bold ml-3 text-success">
                    <h1 class="d-inline" id="h1SumPriceInCartDetail"></h1>
                    <h1 class="d-inline"><u>đ</u></h1>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center mt-3">
                <a class="d-block btn btn-outline-info btn-lg" href="/customer/product/product-all-show">
                    Tiếp tục mua hàng&ensp;<i class="fas fa-shopping-basket"></i>
                </a>

                <a hidden="" id="aOrderNow" class="ml-5 d-block btn btn-outline-success btn-lg" href="javascript:void(0);">
                    Tiến hành đặt hàng&ensp;<i class="fas fa-dollar-sign"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- quantity -->

<!-- image -->
<div class="container-fluid mt-5 p-0">
    <div class="component-image-divider">
        <div class="overlay h-100 w-100">
            <div class="text-light w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                <h3>Hotline</h3>
                <h1>
                    <a href="#">0973-446-184</a>
                </h1>
                <p class="text-center">
                    Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng,
                    <br />
                    sạch, an toàn và đảm bảo chất lượng ngon nhất.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- image -->

{{#section 'js'}}
<script src="/customer/js/cart-detail.js"></script>
<script src="/customer/js/breadcrumb-margin.js"></script>
{{!-- <script src="/all/js/compress-image.js"></script> --}}
<script src="/customer/js/handle-product-in-cart-detail.js"></script>
<script type="text/javascript">
    $(function () {
        $('#btn-order').on('click', function (e) {
            if ("{{authUser}}") {
                window.location.href = "/customer/cart/cart-order";
            } else {
                $('#header-user-modal').modal('show');
            }

        });
    });
</script>
{{/section}}