{{#section 'css'}}
<title>Organic.vn</title>

{{!-- home page --}}
<link href="/customer/css/component-intro-product.css" rel="stylesheet" />
<link href="/customer/css/component-product-simple.css" rel="stylesheet" />
<link href="/customer/css/component-info.css" rel="stylesheet" />
<link href="/customer/css/component-product-combo.css" rel="stylesheet" />
<link href="/customer/css/component-about-us.css" rel="stylesheet" />
<link href="/customer/css/component-tag-product-type.css" rel="stylesheet" />
<link href="/customer/css/component-slide-trademark.css" rel="stylesheet" />
<link href="/customer/css/component-user-account-modal.css" rel="stylesheet" />
<link href="/customer/css/component-go-to-position.css" rel="stylesheet" />
{{!-- home page --}}

{{!-- responsive --}}
<link href="/customer/css/responsive-index.css" rel="stylesheet" />
{{!-- responsive --}}
{{/section}}

{{!-- movie to the position --}}
<div class="component-go-to-position">
    <div class="d-flex align-items-center justify-content-center item1" id="div-item-1">
        <span id="sp-item-1">
            <i class="far fa-building fa-2x"></i>
        </span>
    </div>
    <div class="d-flex align-items-center justify-content-center item2" id="div-item-2">
        <span id="sp-item-2">
            <i class="fas fa-apple-alt fa-2x"></i>
        </span>
    </div>
    <div class="d-flex align-items-center justify-content-center item3" id="div-item-3">
        <span id="sp-item-3">
            <i class="fas fa-lemon fa-2x"></i>
        </span>
    </div>
    <div class="d-flex align-items-center justify-content-center item4" id="div-item-4">
        <span id="sp-item-4">
            <i class="far fa-newspaper fa-2x"></i>
        </span>
    </div>
</div>
{{!-- movie to the position --}}

<!-- carousel header -->
<div class="header-carousel w-100">
    <div id="carousel-promotion" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
        <ol class="carousel-indicators">
            <li data-target="#carousel-promotion" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-promotion" data-slide-to="1"></li>
            <li data-target="#carousel-promotion" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active position-relative" data-interval="5000">
                <img id="img1" src="//bizweb.dktcdn.net/100/350/980/themes/714097/assets/slider_1.jpg?1555292522892"
                    class="d-block w-100 animated fadeIn fast" />

                <div class="carousel-caption text-left position-absolute">
                    <h2 class="text-uppercase item1 font-weight-bold">
                        nơi an tâm mua sắm
                    </h2>

                    <p class="item1">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>

                    <a href="product-show.html" class="btn btn-success item2">
                        Xem ngay
                    </a>
                </div>
            </div>

            <div class="carousel-item position-relative" data-interval="5000">
                <img id="img2" src="//bizweb.dktcdn.net/100/350/980/themes/714097/assets/slider_1.jpg?1555292522892"
                    class="d-block w-100 animated slideInDown fast" />

                <div class="carousel-caption text-left position-absolute">
                    <h2 class="text-uppercase item1 font-weight-bold">
                        ăn ngon mỗi ngày
                    </h2>

                    <p class="item1">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>

                    <a href="product-show.html" class="btn btn-success item2">
                        Xem ngay
                    </a>
                </div>
            </div>

            <div class="carousel-item position-relative" data-interval="5000">
                <img id="img3" src="//bizweb.dktcdn.net/100/350/980/themes/714097/assets/slider_1.jpg?1555292522892"
                    class="d-block w-100 animated slideInDown fast" />

                <div class="carousel-caption text-left position-absolute">
                    <h2 class="text-uppercase item1 font-weight-bold">
                        tổ ấm xanh
                    </h2>

                    <p class="item1">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>

                    <a href="product-show.html" class="btn btn-success item2">
                        Xem ngay
                    </a>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carousel-promotion" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carousel-promotion" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- carousel header -->

<!-- intro product -->
<div class="row p-0 m-0">
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 p-0">
        <div class="component-intro-product component-intro-product-1 card rounded-0 border-0 w-100">
            <div class="overlay h-100 w-100">
                <div class="card-body text-white">
                    <a class="text-white" data-toggle="tooltip" title="Rau quả tươi" href="#">
                        <h5 class="d-inline-block title card-title text-uppercase mt-3">
                            Rau quả tươi
                        </h5>
                    </a>
                    <p class="card-text mr-5">
                        Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ
                        ràng, sạch, an toàn và đảm bảo chất lượng ngon nhất giao đến tận
                        tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị
                    </p>
                    <a href="../html/product-show.html" class="btn btn-outline-light mt-2" onmouseover="changetoBlue()"
                        onmouseleave="defaultButton()">Xem ngay</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 p-0">
        <div class="component-intro-product component-intro-product-2 card rounded-0 border-0 w-100">
            <div class="overlay h-100 w-100">
                <div class="card-body text-white">
                    <a class="text-white" data-toggle="tooltip" title="Rau quả tươi" href="#">
                        <h5 class="d-inline-block title card-title text-uppercase mt-3">
                            Rau quả tươi
                        </h5>
                    </a>
                    <p class="card-text mr-5">
                        Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ
                        ràng, sạch, an toàn và đảm bảo chất lượng ngon nhất giao đến tận
                        tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị
                    </p>
                    <a href="../html/product-show.html" class="btn btn-outline-light mt-2" onmouseover="changetoBlue()"
                        onmouseleave="defaultButton()">Xem ngay</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 p-0">
        <div class="component-intro-product component-intro-product-3 card rounded-0 border-0 w-100">
            <div class="overlay h-100 w-100">
                <div class="card-body text-white">
                    <a class="text-white" data-toggle="tooltip" title="Rau quả tươi" href="#">
                        <h5 class="d-inline-block title card-title text-uppercase mt-3">
                            Rau quả tươi
                        </h5>
                    </a>
                    <p class="card-text mr-5">
                        Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ
                        ràng, sạch, an toàn và đảm bảo chất lượng ngon nhất giao đến tận
                        tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị
                    </p>
                    <a href="../html/product-show.html" class="btn btn-outline-light mt-2" onmouseover="changetoBlue()"
                        onmouseleave="defaultButton()">Xem ngay</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 p-0">
        <div class="component-intro-product component-intro-product-4 card rounded-0 border-0 w-100">
            <div class="overlay h-100 w-100">
                <div class="card-body text-white">
                    <a class="text-white" data-toggle="tooltip" title="Rau quả tươi" href="#">
                        <h5 class="d-inline-block title card-title text-uppercase mt-3">
                            Rau quả tươi
                        </h5>
                    </a>
                    <p class="card-text mr-5">
                        Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ
                        ràng, sạch, an toàn và đảm bảo chất lượng ngon nhất giao đến tận
                        tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị
                    </p>
                    <a href="../html/product-show.html" class="btn btn-outline-light mt-2" onmouseover="changetoBlue()"
                        onmouseleave="defaultButton()">Xem ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- intro product-->

<!-- About us, sale, combo-->
<div class="container mt-5">
    <!-- about us -->
    <div class="row justify-content-center mt-5">
        <h3 class="text-success">VỀ CHÚNG TÔI</h3>
    </div>

    <div class="row justify-content-center">
        <img src="https://bizweb.dktcdn.net/100/350/980/themes/714097/assets/logo.png?1553920233466" width="80"
            height="30" alt="" />
    </div>

    <div class="row mt-3">
        <p class="text-center">
            Hiện tại vùng nguyên liệu của chúng tôi có thể cung cấp các thực tập
            tươi sạch với số lượng lớn vì đang vào vụ mùa thu hoạch nên chúng tôi
            có thể cung ứng cho tất cả các đối tác xuất khẩu nông sản trên cả
            nước.
        </p>
    </div>

    <div class="row mt-3">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 m-0 pr-1 pt-0 pl-0 pb-0 d-flex justify-content-center">
            <div class=" d-flex flex-column justify-content-center align-items-center component-about-us">
                <div class="content-top card rounded-0 w-100">
                    <div class="overlay position-relative h-100">
                        <div class="item1 position-absolute"></div>

                        <div class="item2 position-absolute"></div>

                        <p class="mytext text-uppercase text-center m-0 position-absolute">
                            an toàn sinh học
                        </p>

                        <div class="item3 position-absolute"></div>

                        <div class="item4 position-absolute"></div>
                    </div>
                </div>

                <div class="text-center mt-3">
                    <h4>Trang trại hữu cơ</h4>
                    <p>Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 m-0 pr-1 pt-0 pl-0 pb-0 d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center align-items-center component-about-us">
                <div class="content-top card rounded-0 w-100">
                    <div class="overlay position-relative h-100">
                        <div class="item1 position-absolute"></div>

                        <div class="item2 position-absolute"></div>

                        <p class="mytext text-uppercase text-center m-0 position-absolute">
                            an toàn sinh học
                        </p>

                        <div class="item3 position-absolute"></div>

                        <div class="item4 position-absolute"></div>
                    </div>
                </div>

                <div class="text-center mt-3">
                    <h4>Trang trại hữu cơ</h4>
                    <p>Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 m-0 pr-1 pt-0 pl-0 pb-0 d-flex justify-content-center">
            <div class=" d-flex flex-column justify-content-center align-items-center component-about-us">
                <div class="content-top card rounded-0 w-100">
                    <div class="overlay position-relative h-100">
                        <div class="item1 position-absolute"></div>

                        <div class="item2 position-absolute"></div>

                        <p class="mytext text-uppercase text-center m-0 position-absolute">
                            an toàn sinh học
                        </p>

                        <div class="item3 position-absolute"></div>

                        <div class="item4 position-absolute"></div>
                    </div>
                </div>

                <div class="text-center mt-3">
                    <h4>Trang trại hữu cơ</h4>
                    <p>Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 m-0 pr-1 pt-0 pl-0 pb-0 d-flex justify-content-center">
            <div class=" d-flex flex-column justify-content-center align-items-center component-about-us">
                <div class="content-top card rounded-0 w-100">
                    <div class="overlay position-relative h-100">
                        <div class="item1 position-absolute"></div>

                        <div class="item2 position-absolute"></div>

                        <p class="mytext text-uppercase text-center m-0 position-absolute">
                            an toàn sinh học
                        </p>

                        <div class="item3 position-absolute"></div>

                        <div class="item4 position-absolute"></div>
                    </div>
                </div>

                <div class="text-center mt-3">
                    <h4>Trang trại hữu cơ</h4>
                    <p>Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</p>
                </div>
            </div>
        </div>
    </div>
    <!-- about us -->

    <!-- sale -->
    <div class="row justify-content-center mt-5">
        <h3 class="text-success text-center">KHUYẾN MÃI HOT TỪ ORGANIC.VN</h3>
    </div>

    <div class="row justify-content-center">
        <img src="https://bizweb.dktcdn.net/100/350/980/themes/714097/assets/logo.png?1553920233466" width="80"
            height="30" alt="" />
    </div>

    <div class="row justify-content-center mt-3">
        <div
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center component-tag-product-type">

            {{!-- load doanh mục cấp 1 --}}
            {{#each this.categories}}
            <button type="button" class="btn btn-outline-success ml-2">
                {{NAME}}
            </button>
            {{/each}}
            {{!-- load doanh mục cấp 1 --}}

            {{!-- load doanh mục cấp 1 khi resposive --}}
            <select class="form-control">
                {{#each this.categories}}
                <option>{{NAME}}</option>
                {{/each}}
            </select>
            {{!-- load doanh mục cấp 1 khi resposive --}}
        </div>
    </div>

    <div class="row mt-5">
        {{!-- load sản phẩm simple sale nhiều nhất --}}
        {{#each this.products}}
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 d-flex justify-content-center">
            <div class="component-product-simple card w-100">
                <div class="card-img-top w-100 h-75 position-relative" data-toggle="tooltip" title="{{NAME}}">
                    <a class="stretched-link" href="/customer/product/product-detail/{{ID}}"></a>

                    {{!-- Nếu có giảm giá mới hiện ra --}}
                    {{#if SALE}}
                    <div id="sale-image" class="position-absolute d-flex justify-content-center ml-2">
                        -{{SALE}}%
                    </div>
                    {{/if}}
                    {{!-- Nếu có giảm giá mới hiện ra --}}

                    <img src={{IMAGE}} class="rounded-top w-100 h-100" alt="">
                    <div class="overlay h-100 w-100 d-flex justify-content-center align-items-end">
                        <a href="/customer/index/add-product/{{ID}}"
                            class="mr-2 mb-3 rounded-circle  d-flex justify-content-center align-items-center"
                            data-toggle="tooltip" title="Mua ngay">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="/customer/product/product-detail/{{ID}}"
                            class="mr-2 mb-3 rounded-circle d-flex justify-content-center align-items-center"
                            data-toggle="tooltip" title="Xem nhanh">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body h-25 text-center d-flex align-items-center justify-content-center flex-column">
                    <a href="/customer/product/product-detail/{{ID}}"
                        class="title card-title m-0">{{formatTitleProductSimple NAME}}</a>
                    <div class="mt-1 d-flex justify-content-center">
                        <div class="price-sale">
                            <span>{{formatPrice SALEPRICE}}</span>
                            <span><u>đ</u></span>
                        </div>

                        {{!-- Nếu có giảm giá mới hiện ra --}}
                        {{#if SALE}}
                        <div class="price-old">
                            <del class="ml-3">
                                {{formatPrice PRICE}}
                                <span><u>đ</u></span>
                            </del>
                        </div>
                        {{/if}}
                        {{!-- Nếu có giảm giá mới hiện ra --}}

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{!-- load sản phẩm simple sale nhiều nhất --}}
    </div>

    <div class="row justify-content-center mt-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- sale -->

    <!-- combo -->
    <div class="row justify-content-center mt-3">
        <h3 class="text-success text-center">COMBO BÁN CHẠY TỪ ORGANIC.VN</h3>
    </div>

    <div class="row justify-content-center">
        <img src="https://bizweb.dktcdn.net/100/350/980/themes/714097/assets/logo.png?1553920233466" width="80"
            height="30" alt="" />
    </div>

    <div class="row mt-5">
        {{!-- Load sản phẩm combo sale nhiều nhất --}}
        {{#each this.productsCombo}}
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 d-flex justify-content-center">
            <div class="component-product-combo card font-weight-bold w-100">
                <div class="position-relative w-100 h-75 card-img-top" data-toggle="tooltip" title="{{NAME}}">
                    <div class="position-relative d-flex h-100">
                        <a href="customer/product/product-detail/{{ID}}" class="stretched-link"></a>

                        {{!-- Nếu đang giảm giá mới hiện ra --}}
                        {{#if SALE}}
                        <div id="sale-image" class="position-absolute d-flex justify-content-center ml-2">
                            -{{SALE}}%
                        </div>
                        {{/if}}
                        {{!-- Nếu đang giảm giá mới hiện ra --}}

                        <img class="image-product-1" src={{IMAGE1}} alt="" />
                        <img class="image-product-2" src={{IMAGE2}} alt="" />
                        <img class="image-product-3" src={{IMAGE3}} alt="" />
                    </div>
                    <div class="overlay d-flex justify-content-center align-items-end position-absolute h-100 w-100">
                        <a href="/customer/index/add-product-combo/{{ID}}"
                            class="mr-2 mb-3 rounded-circle d-flex justify-content-center align-items-center"
                            data-toggle="tooltip" title="Mua ngay">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="customer/product/product-detail/{{ID}}"
                            class="mb-3 rounded-circle d-flex justify-content-center align-items-center"
                            data-toggle="tooltip" title="Xem nhanh">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body h-25 text-center d-flex align-items-center justify-content-center flex-column">
                    <a href="customer/product/product-detail/{{ID}}" class="title card-title m-0" data-toggle="tooltip"
                        title="Baby combo - combo rau hữu cơ Nhật cho bé">{{formatTitleProductCombo NAME}}</a>
                    <div class="m-0 d-flex justify-content-center">
                        <div class="price-sale">
                            <span>{{formatPrice SALEPRICE}}</span>
                            <span><u>đ</u></span>
                        </div>

                        {{!-- Nếu đang giảm giá mới hiện ra --}}
                        {{#if SALE}}
                        <div class="price-old">
                            <del class="ml-2">
                                {{formatPrice PRICE}}
                                <span><u>đ</u></span>
                            </del>
                        </div>
                        {{/if}}
                        {{!-- Nếu đang giảm giá mới hiện ra --}}

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{!-- load sản phẩm combo sale nhiều nhất --}}
    </div>

    <div class="row justify-content-center mt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- combo -->
</div>
<!-- About us, sale, combo-->

<!-- image -->
<div class="container-fluid mt-5 p-0">
    <div class="component-image-divider">
        <div class="overlay h-100 w-100">
            <div class="text-light w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                <h3>Hotline</h3>
                <h1>
                    <a href="#">0973-446-184</a>
                </h1>
                <p class="text-center">
                    Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng,
                    <br />
                    sạch, an toàn và đảm bảo chất lượng ngon nhất.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- image -->

<!-- info, trademark -->
<div class="container mt-5">
    <!-- info -->
    <div class="row justify-content-center mt-5">
        <h3 class="text-success text-center">
            THÔNG TIN MỚI NHẤT TỪ ORGANIC.VN
        </h3>
    </div>

    <div class="row justify-content-center">
        <img src="https://bizweb.dktcdn.net/100/350/980/themes/714097/assets/logo.png?1553920233466" width="80"
            height="30" alt="" />
    </div>

    <div class="row mt-5">
        {{!-- load news mới nhất --}}
        {{#each this.news}}
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
            <div class="component-info-small card font-weight-bold border-0">
                <div class="card-img-top h-50 w-100 position-relative" data-toggle="tooltip" title="{{TITLE}}">
                    <a class="stretched-link" href="info-detail.html"></a>
                    <img src={{IMAGE}} class="w-100 h-100" alt="">
                    <div class="p-2 w-100 d-flex justify-content-center position-absolute info-info">
                        <div class="mr-3">
                            <i class="far fa-calendar"></i>
                            &nbsp
                            <span>{{convertToDate CREATED}}</span>
                        </div>
                        <div>
                            <span class="font-weight-normal posted">Đăng bởi: </span>
                            <span>Cool Team</span>
                        </div>
                    </div>
                </div>

                <div class="h-50 card-body text-center">
                    <a href="info-detail.html" class="title card-title m-0">{{formatTitleInfo TITLE}}</a>
                    <p class="mt-2 font-weight-normal">
                        {{formatShortContentInfo SHORTCONTENT}}
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
        {{!-- load news mới nhất --}}
    </div>
    <!-- info -->

    <!-- trademark -->
    <div class="row justify-content-center mt-5">
        <h3 class="text-success text-center">
            THƯƠNG HIỆU HỢP TÁC CÙNG ORGANIC.VN
        </h3>
    </div>

    <div class="row justify-content-center">
        <img src="https://bizweb.dktcdn.net/100/350/980/themes/714097/assets/logo.png?1553920233466" width="80"
            height="30" alt="" />
    </div>

    <div class="row justify-content-center mt-5 component-slide-trademark">
        <div class="col-12">
            <!-- Slider -->
            <div class="slider responsive">
                <div class="d-flex justify-content-center">
                    <img src="//bizweb.dktcdn.net/thumb/compact/100/350/980/themes/714097/assets/brand_1.png?1555292522892"
                        alt="" />
                </div>
                <div class="d-flex justify-content-center">
                    <img src="//bizweb.dktcdn.net/thumb/compact/100/350/980/themes/714097/assets/brand_2.png?1555292522892"
                        alt="" />
                </div>
                <div class="d-flex justify-content-center">
                    <img src="//bizweb.dktcdn.net/thumb/compact/100/350/980/themes/714097/assets/brand_3.png?1555292522892"
                        alt="" />
                </div>
                <div class="d-flex justify-content-center">
                    <img src="//bizweb.dktcdn.net/thumb/compact/100/350/980/themes/714097/assets/brand_4.png?1555292522892"
                        alt="" />
                </div>
                <div class="d-flex justify-content-center">
                    <img src="//bizweb.dktcdn.net/thumb/compact/100/350/980/themes/714097/assets/brand_5.png?1555292522892"
                        alt="" />
                </div>
                <div class="d-flex justify-content-center">
                    <img src="//bizweb.dktcdn.net/thumb/compact/100/350/980/themes/714097/assets/brand_6.png?1555292522892"
                        alt="" />
                </div>
                <div class="d-flex justify-content-center">
                    <img src="//bizweb.dktcdn.net/thumb/compact/100/350/980/themes/714097/assets/brand_5.png?1555292522892"
                        alt="" />
                </div>
                <div class="d-flex justify-content-center">
                    <img src="//bizweb.dktcdn.net/thumb/compact/100/350/980/themes/714097/assets/brand_4.png?1555292522892"
                        alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- trademark -->
</div>
<!-- Info, trademark  -->

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js"></script>
<script src="/customer/js/slide-show.js"></script>
<script src="/customer/js/carousel-margin.js"></script>
<script src="/customer/js/slide-trademark.js"></script>
<script src="/customer/js/go-to-position.js"></script>
{{/section}}