{{#section 'css'}}
<title>Chi tiết thông tin thông tin</title>

{{!-- info detail page --}}
<link href="/customer/css/component-info.css" rel="stylesheet" />
<link href="/customer/css/component-product-combo.css" rel="stylesheet" />
<link href="/customer/css/component-info-detail.css" rel="stylesheet" />
<link href="/customer/css/component-tags.css" rel="stylesheet" />
<link href="/customer/css/responsive-info-detail.css" rel="stylesheet" />
{{!-- info detail page --}}

{{!-- responsive --}}
<link href="/customer/css/responsive-info-detail.css" rel="stylesheet" />
{{!-- responsive --}}
{{/section}}

<!-- Breadcrumb header -->
<div class="breadcrumb-header container-fluid p-0">
    <div
        class="breadcrumb-div text-dark w-100 h-100 d-flex flex-column justify-content-center align-items-center pt-4 pb-4">
        <p> {{formatTitleInBreadCrumb infoTitle}}</p>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/customer/index/">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/customer/info/info-show/">Tin tức</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{formatTitleInBreadCrumb infoTitle}}
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Breadcrumb header -->

<!-- info description -->
<div class="container mt-5">
    <div class="component-info-detail d-flex justify-content-center">
        <div>
            <div class="info-note d-flex justify-content-start mb-1">
                <div class="mr-3">
                    <i class="far fa-calendar"></i>
                    &nbsp;
                    <span class="info-date">{{infoCreated}}</span>
                </div>
                <div>
                    <span class="font-weight-normal">Đăng bởi: </span>
                    <span class="info-author">Cool Team</span>
                </div>
            </div>

            <h1 class=" mt-3">
                {{infoTitle}}
            </h1>

            <p class="mt-2"><strong>{{infoShortContent}}</strong></p>

            <ul class="li-newest" class="m-2 mb-5">
                {{#each infosNewest}}
                <li><a href="/Customer/info/info-detail/{{ID}}">{{TITLE}}</a></li>
                {{/each}}
            </ul>

            <div>
                {{{infoContent}}}
            </div>

            <hr>

            <span><i class="fas fa-tag"></i>Tags</span>
            <ul class="component-tags mt-1">
                {{#each tags}}
                <li><a href="/customer/info/tag/{{ID}}" class="tag">{{NAME}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<!-- info description -->

<!-- image -->
<div class="container-fluid mt-5 p-0">
    <div class="component-image-divider">
        <div class="overlay h-100 w-100">
            <div class="text-light w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                <h3>Hotline</h3>
                <h1>
                    <a href="#">0973-446-184</a>
                </h1>
                <p class="text-center">
                    Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng,
                    <br />
                    sạch, an toàn và đảm bảo chất lượng ngon nhất.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- image -->


<div class="container mt-5">
    {{#if isHavePopularInfo}}
    <!-- the popular top info -->
    <div class="row justify-content-center">
        <h3 class="text-success text-center">
            BÀI VIẾT NHIỀU NGƯỜI ĐỌC NHẤT TUẦN TỪ ORGANIC.VN
        </h3>
    </div>

    <div class="row justify-content-center">
        <img src="https://bizweb.dktcdn.net/100/350/980/themes/714097/assets/logo.png?1553920233466" width="80"
            height="30" alt="" />
    </div>

    <div class="row mt-5">
        {{!-- load news liên quan --}}
        {{#each this.infosPopular}}
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
            <div class="component-info-small card font-weight-bold border-0">
                <div class="card-img-top h-50 w-100 position-relative" data-toggle="tooltip" title="{{TITLE}}">
                    <a class="stretched-link" href="/customer/info/info-detail/{{ID}}"></a>
                    <img src={{IMAGE}} id="info{{ID}}" class="w-100 h-100" alt="">
                    <div class="p-2 w-100 d-flex justify-content-center position-absolute info-info">
                        <div class="mr-3">
                            <i class="far fa-calendar"></i>
                            &nbsp
                            <span class="content">{{CREATED}}</span>
                        </div>

                        <div>
                            <i class="far fa-plus-square"></i>
                            &nbsp
                            <span class="content">Cool Team</span>
                            &nbsp
                        </div>

                        <div>
                            <i class="far fa-eye"></i>
                            &nbsp
                            <span class="content">{{VIEWS}}</span>
                        </div>
                    </div>
                </div>

                <div class="h-50 card-body text-center d-flex flex-column align-items-center justify-content-center">
                    <a href="/customer/info/info-detail/{{ID}}"
                        class="title card-title m-0">{{formatTitleInfo TITLE}}</a>
                    <p class="mt-2 font-weight-normal">
                        {{formatShortContentInfo SHORTCONTENT}}
                    </p>

                    <ul class="m-0 p-0">
                        {{#each tags}}
                        <a href="/customer/info/tag/{{ID}}" class="badge badge-dark">{{NAME}}</a>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
        {{!-- load news liên quan --}}
    </div>

    <!-- the popular top info -->
    {{/if}}

    {{#if isHaveThesameInfo}}
    <!-- the same info-->
    <div class="row justify-content-center mt-5">
        <h3 class="text-success  text-center">
            CÁC BÀI VIẾT LIÊN QUAN TỪ ORGANIC.VN
        </h3>
    </div>

    <div class="row justify-content-center">
        <img src="https://bizweb.dktcdn.net/100/350/980/themes/714097/assets/logo.png?1553920233466" width="80"
            height="30" alt="" />
    </div>

    <div class="row mt-5">
        {{!-- load news liên quan --}}
        {{#each this.infosTheSame}}
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 d-flex justify-content-center">
            <div class="component-info-small card font-weight-bold border-0">
                <div class="card-img-top h-50 w-100 position-relative" data-toggle="tooltip" title="{{TITLE}}">
                    <a class="stretched-link" href="/customer/info/info-detail/{{ID}}"></a>
                    <img src={{IMAGE}} id="info{{ID}}" class="w-100 h-100" alt="">
                    <div class="p-2 w-100 d-flex justify-content-center position-absolute info-info">
                        <div class="mr-3">
                            <i class="far fa-calendar"></i>
                            &nbsp
                            <span class="content">{{CREATED}}</span>
                        </div>

                        <div>
                            <i class="far fa-plus-square"></i>
                            &nbsp
                            <span class="content">Cool Team</span>
                            &nbsp
                        </div>

                        <div>
                            <i class="far fa-eye"></i>
                            &nbsp
                            <span class="content">{{VIEWS}}</span>
                        </div>
                    </div>
                </div>

                <div class="h-50 card-body text-center d-flex flex-column align-items-center justify-content-center">
                    <a href="/customer/info/info-detail/{{ID}}"
                        class="title card-title m-0">{{formatTitleInfo TITLE}}</a>
                    <p class="mt-2 font-weight-normal">
                        {{formatShortContentInfo SHORTCONTENT}}
                    </p>

                    <ul class="m-0 p-0">
                        {{#each tags}}
                        <a href="/customer/info/tag/{{ID}}" class="badge badge-dark">{{NAME}}</a>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
        {{!-- load news liên quan --}}
    </div>

    <!-- the same info-->
    {{/if}}
</div>

{{#section 'js'}}
<script src="/customer/js/breadcrumb-margin.js"></script>
{{/section}}