{{#section 'css'}}
<title>Chi tiết đơn hàng của bạn</title>

{{!-- product detail page --}}
<link href="/customer/css/component-product-simple.css" rel="stylesheet" />
<link href="/customer/css/component-product-combo.css" rel="stylesheet" />
<link href="/customer/css/component-cart-quantity.css" rel="stylesheet" />
<link href="/customer/css/component-scrollbar.css" rel="stylesheet" />
{{!-- <link href="/customer/css/component-show-rate.css" rel="stylesheet" /> --}}
{{!-- <link href="/customer/css/component-comment.css" rel="stylesheet" /> --}}
{{!-- <link href="/customer/css/component-product-simple.css" rel="stylesheet" /> --}}
{{!-- <link href="/customer/css/component-image-show.css" rel="stylesheet" /> --}}
{{!-- <link href="/customer/css/component-show-rate.css" rel="stylesheet" /> --}}
<link href="/customer/css/component-product-detail.css" rel="stylesheet" />
{{!-- product detail page --}}

{{!-- responsive --}}
<link href="/customer/css/responsive-order-info-show.css" rel="stylesheet" />
{{!-- responsive --}}
{{/section}}

<!-- Breadcrumb header -->
<div class="breadcrumb-header container-fluid p-0">
    <div
        class="breadcrumb-div text-dark w-100 h-100 d-flex flex-column justify-content-center align-items-center pt-4 pb-4">
        <p>Đơn hàng của tôi</p>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/customer/index/">Trang chủ</a>
                </li>

                <li class="breadcrumb-item active" aria-current="page">
                    Đơn hàng của tôi
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Breadcrumb header -->

<!-- Product detail -->
<div class="container component-product-detail mt-5">
    <!-- product-detail accordion -->
    <div class="accordion" id="product-detail-accordion">
        <!-- type-1-heading -->
        <div class="card mb-3 border-0">
            <div id="heading-order-type-1">
                <div class="product-detail-accordion-header-1 p-2">
                    <button class="btn btn-link text-decoration-none p-0 text-primary w-100" type="button"
                        data-toggle="collapse" data-target="#collapse-order-type-1" aria-expanded="true"
                        aria-controls="collapse-order-type-1">
                        <h5 class="mb-0">Chờ xác nhận ({{quantityHaveType1}})</h5>
                    </button>
                </div>
            </div>

            <div id="collapse-order-type-1" class="collapse show pt-3" aria-labelledby="heading-order-type-1"
                >
                <div>
                    {{#if isHaveType1}}
                    <!--Table hiển thị sản phẩm-->
                    <table class="table table-responsive-md w-100">
                        <thead>
                            <tr>
                                <th class="text-center">Mã đơn hàng</th>
                                <th>Thời gian đặt hàng</th>
                                <th>Tổng tiền</th>
                                <th class="text-center">Tình trạng đơn hàng</th>
                                <th class="text-center">Tác vụ</th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each this.orderInfoType1}}
                            <!--Nội dung của một hàng-->
                            <tr>
                                <td align="center">{{ID}}</td>
                                <td>{{CREATED}}</td>
                                <td>{{formatPrice TOTALMONEY}} &nbsp;đ</td>
                                <td align="center"><span class="badge badge-primary">{{STATUSNAME}}</span></td>
                                <td align="center">
                                    <button class="btn btn-sm btn-primary mr-1" id="btnShowDetail" id-show-detail={{ID}}
                                        type="button" data-toggle="modal" data-target="#customerDetailModal">
                                        <i class="fas fa-info pl-1 pr-1"></i>
                                    </button>
                                </td>
                            </tr>
                            <!--End nội dung của một hàng-->
                            {{/each}}
                        </tbody>
                    </table>
                    <!--End Table hiển thị sản phẩm-->

                    <hr />
                    <!--Thanh điều hướng trang-->
                    <div class="row justify-content-center">
                        <nav>
                            <ul class="pagination">
                                {{#if this.prePageStatus1.active}}
                                <li class="page-item">
                                    <a class="page-link" href="/customer/order/order-info-show-status-1?page={{this.prePageStatus1.value}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {{else}}

                                {{/if}}
                                {{#each this.pagesStatus1}}
                                {{#if active}}
                                <li class="page-item active"><a class="page-link" href="/customer/order/order-info-show-status-1?page={{value}}">{{value}}</a>
                                </li>
                                {{else}}
                                <li class="page-item"><a class="page-link" href="/customer/order/order-info-show-status-1?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                                {{/each}}
                                {{#if this.nextPageStatus1.active}}
                                <li class="page-item">
                                    <a class="page-link" href="/customer/order/order-info-show-status-1?page={{this.nextPageStatus1.value}}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {{else}}

                                {{/if}}
                            </ul>
                        </nav>
                    </div>
                    <!--end Thanh điều hướng trang-->
                    {{else}}
                    <div class="d-flex flex-column align-items-center mt-5 mb-5">
                        <h1 id="h1EmptyCartDetail" class="text-center text-primary w-50 p-2"><i
                                class="fab fa-opencart fa-5x"></i></h1>
                        <a class="d-block btn btn-outline-primary btn-lg w-50 p-2 mt-4 mb-4"
                            href="/customer/product/product-all-show">
                            Tiếp tục mua hàng&ensp;<i class="fas fa-shopping-basket"></i>
                        </a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <!--type-1-heading -->

        <!-- type-2-heading -->
        <div class="card mb-3 border-0">
            <div id="heading-order-type-2">
                <div class="product-detail-accordion-header-1 p-2">
                    <button class="btn btn-link text-decoration-none p-0 text-warning w-100" type="button"
                        data-toggle="collapse" data-target="#collapse-order-type-2" aria-expanded="true"
                        aria-controls="collapse-order-type-2">
                        <h5 class="mb-0">Đang giao ({{quantityHaveType2}})</h5>
                    </button>
                </div>
            </div>

            <div id="collapse-order-type-2" class="collapse show pt-3" aria-labelledby="heading-order-type-2"
                >
                <div>
                    {{#if isHaveType2}}
                    <!--Table hiển thị sản phẩm-->
                    <table class="table table-responsive-md w-100">
                        <thead>
                            <tr>
                                <th class="text-center">Mã đơn hàng</th>
                                <th>Thời gian đặt hàng</th>
                                <th>Tổng tiền</th>
                                <th class="text-center">Tình trạng đơn hàng</th>
                                <th class="text-center">Tác vụ</th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each this.orderInfoType2}}
                            <!--Nội dung của một hàng-->
                            <tr>
                                <td align="center">{{ID}}</td>
                                <td>{{CREATED}}</td>
                                <td>{{formatPrice TOTALMONEY}} &nbsp;đ</td>
                                <td align="center"><span class="badge badge-warning">{{STATUSNAME}}</span></td>
                                <td align="center">
                                    <button class="btn btn-sm btn-primary mr-1" id="btnShowDetail" id-show-detail={{ID}}
                                        type="button" data-toggle="modal" data-target="#customerDetailModal">
                                        <i class="fas fa-info pl-1 pr-1"></i>
                                    </button>
                                </td>
                            </tr>
                            <!--End nội dung của một hàng-->
                            {{/each}}
                        </tbody>
                    </table>
                    <!--End Table hiển thị sản phẩm-->

                    <hr />
                    <!--Thanh điều hướng trang-->
                    <div class="row justify-content-center">
                        <nav>
                            <ul class="pagination">
                                {{#if this.prePageStatus2.active}}
                                <li class="page-item">
                                    <a class="page-link" href="/customer/order/order-info-show-status-2?page={{this.prePageStatus2.value}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {{else}}

                                {{/if}}
                                {{#each this.pagesStatus2}}
                                {{#if active}}
                                <li class="page-item active"><a class="page-link" href="/customer/order/order-info-show-status-2?page={{value}}">{{value}}</a>
                                </li>
                                {{else}}
                                <li class="page-item"><a class="page-link" href="/customer/order/order-info-show-status-2?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                                {{/each}}
                                {{#if this.nextPageStatus2.active}}
                                <li class="page-item">
                                    <a class="page-link" href="/customer/order/order-info-show-status-2?page={{this.nextPageStatus2.value}}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {{else}}

                                {{/if}}
                            </ul>
                        </nav>
                    </div>
                    <!--end Thanh điều hướng trang-->
                    {{else}}
                    <div class="d-flex flex-column align-items-center mt-5 mb-5">
                        <h1 id="h1EmptyCartDetail" class="text-center text-warning w-50 p-2"><i
                                class="fab fa-opencart fa-5x"></i></h1>
                        <a class="d-block btn btn-outline-warning btn-lg w-50 p-2 mt-4 mb-4"
                            href="/customer/product/product-all-show">
                            Tiếp tục mua hàng&ensp;<i class="fas fa-shopping-basket"></i>
                        </a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <!--type-2-heading -->

        <!-- type-3-heading -->
        <div class="card mb-3 border-0">
            <div id="heading-order-type-3">
                <div class="product-detail-accordion-header-1 p-2">
                    <button class="btn btn-link text-decoration-none p-0 text-success w-100" type="button"
                        data-toggle="collapse" data-target="#collapse-order-type-3" aria-expanded="true"
                        aria-controls="collapse-order-type-3">
                        <h5 class="mb-0">Đã giao ({{quantityHaveType3}})</h5>
                    </button>
                </div>
            </div>

            <div id="collapse-order-type-3" class="collapse show pt-3" aria-labelledby="heading-order-type-3"
                >
                <div>
                    {{#if isHaveType3}}
                    <!--Table hiển thị sản phẩm-->
                    <table class="table table-responsive-md w-100">
                        <thead>
                            <tr>
                                <th class="text-center">Mã đơn hàng</th>
                                <th>Thời gian đặt hàng</th>
                                <th>Tổng tiền</th>
                                <th class="text-center">Tình trạng đơn hàng</th>
                                <th class="text-center">Tác vụ</th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each this.orderInfoType3}}
                            <!--Nội dung của một hàng-->
                            <tr>
                                <td align="center">{{ID}}</td>
                                <td>{{CREATED}}</td>
                                <td>{{formatPrice TOTALMONEY}} &nbsp;đ</td>
                                <td align="center"><span class="badge badge-success">{{STATUSNAME}}</span></td>
                                <td align="center">
                                    <button class="btn btn-sm btn-primary mr-1" id="btnShowDetail" id-show-detail={{ID}}
                                        type="button" data-toggle="modal" data-target="#customerDetailModal">
                                        <i class="fas fa-info pl-1 pr-1"></i>
                                    </button>
                                </td>
                            </tr>
                            <!--End nội dung của một hàng-->
                            {{/each}}
                        </tbody>
                    </table>
                    <!--End Table hiển thị sản phẩm-->

                    <hr />
                    <!--Thanh điều hướng trang-->
                    <div class="row justify-content-center">
                        <nav>
                            <ul class="pagination">
                                {{#if this.prePageStatus3.active}}
                                <li class="page-item">
                                    <a class="page-link" href="/customer/order/order-info-show-status-3?page={{this.prePageStatus3.value}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {{else}}

                                {{/if}}
                                {{#each this.pagesStatus3}}
                                {{#if active}}
                                <li class="page-item active"><a class="page-link" href="/customer/order/order-info-show-status-3?page={{value}}">{{value}}</a>
                                </li>
                                {{else}}
                                <li class="page-item"><a class="page-link" href="/customer/order/order-info-show-status-3?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                                {{/each}}
                                {{#if this.nextPageStatus3.active}}
                                <li class="page-item">
                                    <a class="page-link" href="/customer/order/order-info-show-status-3?page={{this.nextPageStatus3.value}}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {{else}}

                                {{/if}}
                            </ul>
                        </nav>
                    </div>
                    <!--end Thanh điều hướng trang-->
                    {{else}}
                    <div class="d-flex flex-column align-items-center mt-5 mb-5">
                        <h1 id="h1EmptyCartDetail" class="text-center text-success w-50 p-2"><i
                                class="fab fa-opencart fa-5x"></i>
                        </h1>
                        <a class="d-block btn btn-outline-success btn-lg w-50 p-2 mt-4 mb-4"
                            href="/customer/product/product-all-show">
                            Tiếp tục mua hàng&ensp;<i class="fas fa-shopping-basket"></i>
                        </a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <!--type-3-heading -->

        <!-- type-4-heading -->
        <div class="card mb-3 border-0">
            <div id="heading-order-type-4">
                <div class="product-detail-accordion-header-1 p-2">
                    <button class="btn btn-link text-decoration-none p-0 text-danger w-100" type="button"
                        data-toggle="collapse" data-target="#collapse-order-type-4" aria-expanded="true"
                        aria-controls="collapse-order-type-4">
                        <h5 class="mb-0">Đã hủy ({{quantityHaveType4}})</h5>
                    </button>
                </div>
            </div>

            <div id="collapse-order-type-4" class="collapse show pt-3" aria-labelledby="heading-order-type-4"
                >
                <div>
                    {{#if isHaveType4}}
                    <!--Table hiển thị sản phẩm-->
                    <table class="table table-responsive-md w-100">
                        <thead>
                            <tr>
                                <th class="text-center">Mã đơn hàng</th>
                                <th>Thời gian đặt hàng</th>
                                <th>Tổng tiền</th>
                                <th class="text-center">Tình trạng đơn hàng</th>
                                <th class="text-center">Tác vụ</th>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each this.orderInfoType4}}
                            <!--Nội dung của một hàng-->
                            <tr>
                                <td align="center">{{ID}}</td>
                                <td>{{CREATED}}</td>
                                <td>{{formatPrice TOTALMONEY}} &nbsp;đ</td>
                                <td align="center"><span class="badge badge-danger">{{STATUSNAME}}</span></td>
                                <td align="center">
                                    <button class="btn btn-sm btn-primary mr-1" id="btnShowDetail" id-show-detail={{ID}}
                                        type="button" data-toggle="modal" data-target="#customerDetailModal">
                                        <i class="fas fa-info pl-1 pr-1"></i>
                                    </button>
                                </td>
                            </tr>
                            <!--End nội dung của một hàng-->
                            {{/each}}
                        </tbody>
                    </table>
                    <!--End Table hiển thị sản phẩm-->

                    <hr />
                    <!--Thanh điều hướng trang-->
                    <div class="row justify-content-center">
                        <nav>
                            <ul class="pagination">
                                {{#if this.prePageStatus4.active}}
                                <li class="page-item">
                                    <a class="page-link" href="/customer/order/order-info-show-status-4?page={{this.prePageStatus4.value}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {{else}}

                                {{/if}}
                                {{#each this.pagesStatus4}}
                                {{#if active}}
                                <li class="page-item active"><a class="page-link" href="/customer/order/order-info-show-status-4?page={{value}}">{{value}}</a>
                                </li>
                                {{else}}
                                <li class="page-item"><a class="page-link" href="/customer/order/order-info-show-status-4?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                                {{/each}}
                                {{#if this.nextPageStatus4.active}}
                                <li class="page-item">
                                    <a class="page-link" href="/customer/order/order-info-show-status-4?page={{this.nextPageStatus4.value}}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {{else}}

                                {{/if}}
                            </ul>
                        </nav>
                    </div>
                    <!--end Thanh điều hướng trang-->
                    {{else}}
                    <div class="d-flex flex-column align-items-center mt-5 mb-5">
                        <h1 id="h1EmptyCartDetail" class="text-center text-danger w-50 p-2"><i
                                class="fab fa-opencart fa-5x"></i></h1>
                        <a class="d-block btn btn-outline-danger btn-lg w-50 p-2 mt-4 mb-4"
                            href="/customer/product/product-all-show">
                            Tiếp tục mua hàng&ensp;<i class="fas fa-shopping-basket"></i>
                        </a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <!--type-4-heading -->

    </div>
    <!-- product-detail accordion -->

    <!-- product-detail nav -->
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
            <h5 class="nav-item nav-link pb-3 active text-primary border-primary" id="nav-order-info-type-1-tab"
                data-toggle="tab" href="#nav-order-info-type-1" role="tab" aria-controls="nav-order-info-type-1"
                aria-selected="true">Chờ xác nhận ({{quantityHaveType1}})</h5>
            <h5 class="nav-item nav-link ml-5 pb-3 text-warning border-warning" id="nav-order-info-type-2-tab"
                data-toggle="tab" href="#nav-order-info-type-2" role="tab" aria-controls="nav-order-info-type-2"
                aria-selected="false">
                &nbsp Đang giao ({{quantityHaveType2}})&nbsp</h5>
            <h5 class="nav-item nav-link ml-5 pb-3 text-success border-success" id="nav-order-info-type-3-tab"
                data-toggle="tab" href="#nav-order-info-type-3" role="tab" aria-controls="nav-order-info-type-3"
                aria-selected="false"> &nbsp &nbsp Đã
                giao ({{quantityHaveType3}}) &nbsp &nbsp </h5>
            <h5 class="nav-item nav-link ml-5 pb-3 text-danger border-danger" id="nav-order-info-type-4-tab"
                data-toggle="tab" href="#nav-order-info-type-4" role="tab" aria-controls="nav-order-info-type-4"
                aria-selected="false"> &nbsp &nbsp Đã
                hủy ({{quantityHaveType4}})&nbsp &nbsp </h5>
        </div>
    </nav>
    <!-- product-detail nav -->

    <!-- product-detail nav tab-content-->
    <div class="tab-content" id="nav-tabContent">
        <!-- info-type 1 -->
        <div class="tab-pane fade show active pt-4 " id="nav-order-info-type-1" role="tabpanel"
            aria-labelledby="nav-order-info-type-1-tab">

            {{#if isHaveType1}}
            <!--Table hiển thị sản phẩm-->
            <table class="table table-responsive-md w-100">
                <thead>
                    <tr>
                        <th class="text-center">Mã đơn hàng</th>
                        <th>Thời gian đặt hàng</th>
                        <th>Tổng tiền</th>
                        <th class="text-center">Tình trạng đơn hàng</th>
                        <th class="text-center">Tác vụ</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each this.orderInfoType1}}
                    <!--Nội dung của một hàng-->
                    <tr>
                        <td align="center">{{ID}}</td>
                        <td>{{CREATED}}</td>
                        <td>{{formatPrice TOTALMONEY}} &nbsp;đ</td>
                        <td align="center"><span class="badge badge-primary">{{STATUSNAME}}</span></td>
                        <td align="center">
                            <button class="btn btn-sm btn-primary mr-1" id="btnShowDetail" id-show-detail={{ID}}
                                type="button" data-toggle="modal" data-target="#customerDetailModal">
                                <i class="fas fa-info pl-1 pr-1"></i>
                            </button>
                        </td>
                    </tr>
                    <!--End nội dung của một hàng-->
                    {{/each}}
                </tbody>
            </table>
            <!--End Table hiển thị sản phẩm-->

            <hr />
            <!--Thanh điều hướng trang-->
            <div class="row justify-content-center">
                <nav>
                    <ul class="pagination">
                        {{#if this.prePageStatus1.active}}
                        <li class="page-item">
                            <a class="page-link" href="/customer/order/order-info-show-status-1?page={{this.prePageStatus1.value}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{else}}

                        {{/if}}
                        {{#each this.pagesStatus1}}
                        {{#if active}}
                        <li class="page-item active"><a class="page-link" href="/customer/order/order-info-show-status-1?page={{value}}">{{value}}</a>
                        </li>
                        {{else}}
                        <li class="page-item"><a class="page-link" href="/customer/order/order-info-show-status-1?page={{value}}">{{value}}</a>
                        </li>
                        {{/if}}
                        {{/each}}
                        {{#if this.nextPageStatus1.active}}
                        <li class="page-item">
                            <a class="page-link" href="/customer/order/order-info-show-status-1?page={{this.nextPageStatus1.value}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{else}}

                        {{/if}}
                    </ul>
                </nav>
            </div>
            <!--end Thanh điều hướng trang-->
            {{else}}
            <div class="d-flex flex-column align-items-center mt-5 mb-5">
                <h1 id="h1EmptyCartDetail" class="text-center text-primary w-50 p-2"><i
                        class="fab fa-opencart fa-5x"></i></h1>
                <a class="d-block btn btn-outline-primary btn-lg w-50 p-2 mt-4 mb-4"
                    href="/customer/product/product-all-show">
                    Tiếp tục mua hàng&ensp;<i class="fas fa-shopping-basket"></i>
                </a>
            </div>
            {{/if}}
        </div>
        <!--info-type 1 -->

        <!-- info-type 2 -->
        <div class="tab-pane fade pt-4" id="nav-order-info-type-2" role="tabpanel"
            aria-labelledby="nav-order-info-type-2-tab">

            {{#if isHaveType2}}
            <!--Table hiển thị sản phẩm-->
            <table class="table table-responsive-md w-100">
                <thead>
                    <tr>
                        <th class="text-center">Mã đơn hàng</th>
                        <th>Thời gian đặt hàng</th>
                        <th>Tổng tiền</th>
                        <th class="text-center">Tình trạng đơn hàng</th>
                        <th class="text-center">Tác vụ</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each this.orderInfoType2}}
                    <!--Nội dung của một hàng-->
                    <tr>
                        <td align="center">{{ID}}</td>
                        <td>{{CREATED}}</td>
                        <td>{{formatPrice TOTALMONEY}} &nbsp;đ</td>
                        <td align="center"><span class="badge badge-warning">{{STATUSNAME}}</span></td>
                        <td align="center">
                            <button class="btn btn-sm btn-primary mr-1" id="btnShowDetail" id-show-detail={{ID}}
                                type="button" data-toggle="modal" data-target="#customerDetailModal">
                                <i class="fas fa-info pl-1 pr-1"></i>
                            </button>
                        </td>
                    </tr>
                    <!--End nội dung của một hàng-->
                    {{/each}}
                </tbody>
            </table>
            <!--End Table hiển thị sản phẩm-->

            <hr />
            <!--Thanh điều hướng trang-->
            <div class="row justify-content-center">
                <nav>
                    <ul class="pagination">
                        {{#if this.prePageStatus2.active}}
                        <li class="page-item">
                            <a class="page-link" href="/customer/order/order-info-show-status-2?page={{this.prePageStatus2.value}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{else}}

                        {{/if}}
                        {{#each this.pagesStatus2}}
                        {{#if active}}
                        <li class="page-item active"><a class="page-link" href="/customer/order/order-info-show-status-2?page={{value}}">{{value}}</a>
                        </li>
                        {{else}}
                        <li class="page-item"><a class="page-link" href="/customer/order/order-info-show-status-2?page={{value}}">{{value}}</a>
                        </li>
                        {{/if}}
                        {{/each}}
                        {{#if this.nextPageStatus2.active}}
                        <li class="page-item">
                            <a class="page-link" href="/customer/order/order-info-show-status-2?page={{this.nextPageStatus2.value}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{else}}

                        {{/if}}
                    </ul>
                </nav>
            </div>
            <!--end Thanh điều hướng trang-->
            {{else}}
            <div class="d-flex flex-column align-items-center mt-5 mb-5">
                <h1 id="h1EmptyCartDetail" class="text-center text-warning w-50 p-2"><i
                        class="fab fa-opencart fa-5x"></i></h1>
                <a class="d-block btn btn-outline-warning btn-lg w-50 p-2 mt-4 mb-4"
                    href="/customer/product/product-all-show">
                    Tiếp tục mua hàng&ensp;<i class="fas fa-shopping-basket"></i>
                </a>
            </div>
            {{/if}}
        </div>
        <!-- info-type 2 -->

        <!-- info-type 3 -->
        <div class="tab-pane fade pt-4" id="nav-order-info-type-3" role="tabpanel"
            aria-labelledby="nav-order-info-type-3-tab">
            {{#if isHaveType3}}
            <!--Table hiển thị sản phẩm-->
            <table class="table table-responsive-md w-100">
                <thead>
                    <tr>
                        <th class="text-center">Mã đơn hàng</th>
                        <th>Thời gian đặt hàng</th>
                        <th>Tổng tiền</th>
                        <th class="text-center">Tình trạng đơn hàng</th>
                        <th class="text-center">Tác vụ</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each this.orderInfoType3}}
                    <!--Nội dung của một hàng-->
                    <tr>
                        <td align="center">{{ID}}</td>
                        <td>{{CREATED}}</td>
                        <td>{{formatPrice TOTALMONEY}} &nbsp;đ</td>
                        <td align="center"><span class="badge badge-success">{{STATUSNAME}}</span></td>
                        <td align="center">
                            <button class="btn btn-sm btn-primary mr-1" id="btnShowDetail" id-show-detail={{ID}}
                                type="button" data-toggle="modal" data-target="#customerDetailModal">
                                <i class="fas fa-info pl-1 pr-1"></i>
                            </button>
                        </td>
                    </tr>
                    <!--End nội dung của một hàng-->
                    {{/each}}
                </tbody>
            </table>
            <!--End Table hiển thị sản phẩm-->

            <hr />
            <!--Thanh điều hướng trang-->
            <div class="row justify-content-center">
                <nav>
                    <ul class="pagination">
                        {{#if this.prePageStatus3.active}}
                        <li class="page-item">
                            <a class="page-link" href="/customer/order/order-info-show-status-3?page={{this.prePageStatus3.value}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{else}}

                        {{/if}}
                        {{#each this.pagesStatus3}}
                        {{#if active}}
                        <li class="page-item active"><a class="page-link" href="/customer/order/order-info-show-status-3?page={{value}}">{{value}}</a>
                        </li>
                        {{else}}
                        <li class="page-item"><a class="page-link" href="/customer/order/order-info-show-status-3?page={{value}}">{{value}}</a>
                        </li>
                        {{/if}}
                        {{/each}}
                        {{#if this.nextPageStatus3.active}}
                        <li class="page-item">
                            <a class="page-link" href="/customer/order/order-info-show-status-3?page={{this.nextPageStatus3.value}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{else}}

                        {{/if}}
                    </ul>
                </nav>
            </div>
            <!--end Thanh điều hướng trang-->
            {{else}}
            <div class="d-flex flex-column align-items-center mt-5 mb-5">
                <h1 id="h1EmptyCartDetail" class="text-center text-success w-50 p-2"><i
                        class="fab fa-opencart fa-5x"></i>
                </h1>
                <a class="d-block btn btn-outline-success btn-lg w-50 p-2 mt-4 mb-4"
                    href="/customer/product/product-all-show">
                    Tiếp tục mua hàng&ensp;<i class="fas fa-shopping-basket"></i>
                </a>
            </div>
            {{/if}}
        </div>
        <!-- info-type 3 -->

        <!-- info-type 4 -->
        <div class="tab-pane fade pt-4" id="nav-order-info-type-4" role="tabpanel"
            aria-labelledby="nav-order-info-type-4-tab">

            {{#if isHaveType4}}
            <!--Table hiển thị sản phẩm-->
            <table class="table table-responsive-md w-100">
                <thead>
                    <tr>
                        <th class="text-center">Mã đơn hàng</th>
                        <th>Thời gian đặt hàng</th>
                        <th>Tổng tiền</th>
                        <th class="text-center">Tình trạng đơn hàng</th>
                        <th class="text-center">Tác vụ</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each this.orderInfoType4}}
                    <!--Nội dung của một hàng-->
                    <tr>
                        <td align="center">{{ID}}</td>
                        <td>{{CREATED}}</td>
                        <td>{{formatPrice TOTALMONEY}} &nbsp;đ</td>
                        <td align="center"><span class="badge badge-danger">{{STATUSNAME}}</span></td>
                        <td align="center">
                            <button class="btn btn-sm btn-primary mr-1" id="btnShowDetail" id-show-detail={{ID}}
                                type="button" data-toggle="modal" data-target="#customerDetailModal">
                                <i class="fas fa-info pl-1 pr-1"></i>
                            </button>
                        </td>
                    </tr>
                    <!--End nội dung của một hàng-->
                    {{/each}}
                </tbody>
            </table>
            <!--End Table hiển thị sản phẩm-->

            <hr />
            <!--Thanh điều hướng trang-->
            <div class="row justify-content-center">
                <nav>
                    <ul class="pagination">
                        {{#if this.prePageStatus4.active}}
                        <li class="page-item">
                            <a class="page-link" href="/customer/order/order-info-show-status-4?page={{this.prePageStatus4.value}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{else}}

                        {{/if}}
                        {{#each this.pagesStatus4}}
                        {{#if active}}
                        <li class="page-item active"><a class="page-link" href="/customer/order/order-info-show-status-4?page={{value}}">{{value}}</a>
                        </li>
                        {{else}}
                        <li class="page-item"><a class="page-link" href="/customer/order/order-info-show-status-4?page={{value}}">{{value}}</a>
                        </li>
                        {{/if}}
                        {{/each}}
                        {{#if this.nextPageStatus4.active}}
                        <li class="page-item">
                            <a class="page-link" href="/customer/order/order-info-show-status-4?page={{this.nextPageStatus4.value}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{else}}

                        {{/if}}
                    </ul>
                </nav>
            </div>
            <!--end Thanh điều hướng trang-->
            {{else}}
            <div class="d-flex flex-column align-items-center mt-5 mb-5">
                <h1 id="h1EmptyCartDetail" class="text-center text-danger w-50 p-2"><i
                        class="fab fa-opencart fa-5x"></i></h1>
                <a class="d-block btn btn-outline-danger btn-lg w-50 p-2 mt-4 mb-4"
                    href="/customer/product/product-all-show">
                    Tiếp tục mua hàng&ensp;<i class="fas fa-shopping-basket"></i>
                </a>
            </div>
            {{/if}}
        </div>
        <!-- info-type 4 -->

    </div>
    <!-- product-detail nav tab-content-->

</div>
<!-- Product detail -->

<!-- image -->
<div class="container-fluid mt-5 p-0">
    <div class="component-image-divider">
        <div class="overlay h-100 w-100">
            <div class="text-light w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                <h3>Hotline</h3>
                <h1>
                    <a href="#">0973-446-184</a>
                </h1>
                <p class="text-center">
                    Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng,
                    <br />
                    sạch, an toàn và đảm bảo chất lượng ngon nhất.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- image -->

<div class="container mt-5">
    <!-- sale -->
    <div class="row justify-content-center mt-5">
        <h3 class="text-success text-center">KHUYẾN MÃI HOT TỪ ORGANIC.VN</h3>
    </div>

    <div class="row justify-content-center">
        <img src="https://bizweb.dktcdn.net/100/350/980/themes/714097/assets/logo.png?1553920233466" width="80"
            height="30" alt="" />
    </div>

    <div class="row mt-5" id="containProductSimple">
        {{!-- load sản phẩm simple sale nhiều nhất --}}
        {{#each this.products}}
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 d-flex justify-content-center">
            <div class="component-product-simple card w-100">
                <div class="card-img-top w-100 h-75 position-relative" data-toggle="tooltip"
                    id-product-to-cart="productSimple{{ID}}" title="{{NAME}}">
                    {{!-- <a class="stretched-link" href="/customer/product/product-detail/product-simple/{{ID}}"></a> --}}

                    {{!-- Nếu có giảm giá mới hiện ra --}}
                    {{#if SALE}}
                    <div id="sale-image" class="position-absolute d-flex justify-content-center ml-2">
                        -{{SALE}}%
                    </div>
                    {{/if}}
                    {{!-- Nếu có giảm giá mới hiện ra --}}

                    <img src="{{IMAGE}}" class="rounded-top w-100 h-100" id-product-to-cart="productSimple{{ID}}"
                        alt="">
                    <div class="overlay h-100 w-100 d-flex justify-content-center align-items-end">
                        <a id-product-to-cart="productSimple{{ID}}" id="aAddProductSimple" id-product-simple={{ID}}
                            class="mr-2 mb-3 rounded-circle d-flex justify-content-center align-items-center"
                            data-toggle="tooltip" title="Mua ngay">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="/customer/product/product-detail/product-simple/{{ID}}"
                            class="mr-2 mb-3 rounded-circle d-flex justify-content-center align-items-center"
                            data-toggle="tooltip" title="Xem chi tiết">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body h-25 text-center d-flex align-items-center justify-content-center flex-column">
                    <a href="/customer/product/product-detail/product-simple/{{ID}}"
                        class="title card-title m-0">{{formatTitleProductSimple NAME}}</a>
                    <div class="mt-1 d-flex justify-content-center">
                        <div class="price-sale">
                            <span id-product-to-cart="productSimple{{ID}}">{{formatPrice SALEPRICE}}</span>
                            <span><u>đ</u></span>
                        </div>

                        {{!-- Nếu có giảm giá mới hiện ra --}}
                        {{#if SALE}}
                        <div class="price-old">
                            <del class="ml-3">
                                {{formatPrice PRICE}}
                                <span><u>đ</u></span>
                            </del>
                        </div>
                        {{/if}}
                        {{!-- Nếu có giảm giá mới hiện ra --}}

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{!-- load sản phẩm simple sale nhiều nhất --}}
    </div>

    <!-- sale -->

    <!-- combo -->
    <div class="row justify-content-center mt-3">
        <h3 class="text-success text-center">KHUYẾN MÃI HOT TỪ ORGANIC.VN</h3>
    </div>

    <div class="row justify-content-center">
        <img src="https://bizweb.dktcdn.net/100/350/980/themes/714097/assets/logo.png?1553920233466" width="80"
            height="30" alt="" />
    </div>

    <div class="row mt-5" id="containProductCombo">
        {{!-- Load sản phẩm combo sale nhiều nhất --}}
        {{#each this.productsCombo}}
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 d-flex justify-content-center">
            <div class="component-product-combo card font-weight-bold w-100">
                <div class="position-relative w-100 h-75 card-img-top" data-toggle="tooltip"
                    id-product-to-cart="productCombo{{ID}}" title="{{NAME}}">
                    <div class="position-relative d-flex h-100">
                        {{!-- <a href="/customer/product/product-detail/product-combo/{{ID}}" class="stretched-link"></a> --}}

                        {{!-- Nếu đang giảm giá mới hiện ra --}}
                        {{#if SALE}}
                        <div id="sale-image" class="position-absolute d-flex justify-content-center ml-2">
                            -{{SALE}}%
                        </div>
                        {{/if}}
                        {{!-- Nếu đang giảm giá mới hiện ra --}}

                        <img id-product-to-cart-src-1="productCombo{{ID}}" class="image-product-1" src="{{IMAGE1}}"
                            alt="" />
                        <img id-product-to-cart-src-2="productCombo{{ID}}" class="image-product-2" src="{{IMAGE2}}"
                            alt="" />
                        <img id-product-to-cart-src-3="productCombo{{ID}}" class="image-product-3" src="{{IMAGE3}}"
                            alt="" />
                    </div>
                    <div class="overlay d-flex justify-content-center align-items-end position-absolute h-100 w-100">
                        <a id-product-to-cart="productCombo{{ID}}" id="aAddProductCombo" id-product-combo={{ID}}
                            class="mr-2 mb-3 rounded-circle d-flex justify-content-center align-items-center"
                            data-toggle="tooltip" title="Mua ngay">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a href="/customer/product/product-detail/product-combo/{{ID}}"
                            class="mb-3 rounded-circle d-flex justify-content-center align-items-center"
                            data-toggle="tooltip" title="Xem chi tiết">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body h-25 text-center d-flex align-items-center justify-content-center flex-column">
                    <a href="/customer/product/product-detail/product-combo/{{ID}}" class="title card-title m-0"
                        data-toggle="tooltip"
                        title="Baby combo - combo rau hữu cơ Nhật cho bé">{{formatTitleProductCombo NAME}}</a>
                    <div class="m-0 d-flex justify-content-center">
                        <div class="price-sale">
                            <span id-product-to-cart="productCombo{{ID}}">{{formatPrice SALEPRICE}}</span>
                            <span><u>đ</u></span>
                        </div>

                        {{!-- Nếu đang giảm giá mới hiện ra --}}
                        {{#if SALE}}
                        <div class="price-old">
                            <del class="ml-2">
                                {{formatPrice PRICE}}
                                <span><u>đ</u></span>
                            </del>
                        </div>
                        {{/if}}
                        {{!-- Nếu đang giảm giá mới hiện ra --}}

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{!-- load sản phẩm combo sale nhiều nhất --}}
    </div>
</div>

<!--Modal hiển thị thông tin chi tiết của đơn hàng-->
<div class="modal fade bd-example-modal-lg" id="orderDetailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Thông tin chi tiết đơn hàng
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body component-scrollbar">
                <div class="style-scrollbar">
                    <div id="containProductSimpleInOrderDetailShow" class="mt-2">
                    </div>

                    <div id="containProductComboInOrderDetailShow">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success pl-2 pr-2" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!--End modal hiển thị thông tin chi tiết của đơn hàng-->

{{#section 'js'}}
<script src="/customer/js/breadcrumb-margin.js"></script>
<script src="/customer/js/add-in-cart-product-detail.js"></script>
<script src="/customer/js/show-order-detail.js"></script>
{{/section}}