{{#section 'css'}}
<title>Danh sách sản phẩm</title>

{{!-- product show page --}}
<link href="/customer/css/component-product-simple.css" rel="stylesheet" />
<link href="/customer/css/component-product-combo.css" rel="stylesheet" />
<link href="/customer/css/component-filter-product.css" rel="stylesheet" />
<link href="/customer/css/component-sort-header.css" rel="stylesheet" />
<link href="/customer/css/component-filter-product.css" rel="stylesheet" />
<link href="/customer/css/component-open-filter.css" rel="stylesheet" />
{{!-- product show page --}}

{{!-- responsive --}}
<link href="/customer/css/responsive-product-show.css" rel="stylesheet" />
{{!-- responsive --}}
{{/section}}

<form method="POST" name="frmProductShow" action={{#if isSelectAllSort}}"/customer/product/product-all-show"{{/if}}
    {{#if isSelectComboSort}}"/customer/product/product-combo-show"{{/if}}
    {{#if isSelectSimpleSort}}"/customer/product/product-show/{{idCategory}}/{{idSubCategory}}"{{/if}}> <!-- Breadcrumb
    header -->
    <div class="breadcrumb-header container-fluid p-0">
        <div
            class="breadcrumb-div text-dark w-100 h-100 d-flex flex-column justify-content-center align-items-center pt-4 pb-4">
            <p>Tất cả sản phẩm</p>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="./index.html">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Tất cả sản phẩm
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Breadcrumb header -->

    <!-- open / close fillter -->
    <div class="component-open-filter">
        <button type="button" class="btn btn-success btn-open-filter">
            <i class="fas fa-sort-amount-up fa-2x icon-open-filter mr-2"></i>
            <p class="text-open-filter">Bộ lọc</p>
        </button>
    </div>

    <div class="component-filter-product">
        <div id="mySideFilter" class="side-filter">
            <div class="w-100 h-100 style-scrollbar">
                {{!-- header --}}
                <div class="sticky-top bg-light shadow-sm d-flex justify-content-center">
                    <button id="btnApplyFilter" class="btn btn-outline-success m-2 btn-search" type="submit">
                        Áp dụng
                    </button>

                    <button id="btnCancelFilter" class="btn btn-outline-danger m-2 btn-search" type="submit">
                        Hủy bỏ
                    </button>
                </div>
                {{!-- header --}}

                {{!-- category --}}
                <ul class="list-group" id="ulCategoriesFilter">
                    <li class="list-group-item">
                        <h5>Danh mục sản phẩm</h5>
                    </li>

                    {{#each lcCategories}}
                    <li class="list-group-item d-flex list-group-item-action justify-content-between align-items-center {{#if isChoose}}category-choosing{{/if}}"
                        id="filter-category-show-collapse-{{IDCAT}}">
                        {{!-- Nếu category ko có sản phẩm nào --}}
                        {{#if QUANTITYCAT}}
                        <div class="d-flex justify-content-between align-items-center">
                            {{NAMECAT}}
                            <span class="badge ml-1  badge-success badge-pill">{{QUANTITYCAT}}</span>
                        </div>

                        <div class="checkbox m-0">
                            <label class="m-0"><input type="checkbox" name="checkboxCategory" value="{{IDCAT}}"
                                    {{#if isChoose}}checked="" {{/if}} /></label>
                        </div>
                        {{else}}
                        <div class="d-flex justify-content-between align-items-center">
                            {{NAMECAT}}
                        </div>
                        {{/if}}
                    </li>

                    <ul class="list-group collapse" id="filter-category-collapse-{{IDCAT}}">
                        {{!-- Nếu category ko có sản phẩm nào --}}
                        {{#if QUANTITYCAT}}
                        {{#each SUB}}
                        <li
                            class="list-group-item d-flex list-group-item-action justify-content-between align-items-center {{#if isChoose}}category-choosing{{/if}}">
                            {{#if QUANTITYSUB}}
                            <div class="d-flex justify-content-between align-items-center ml-2">
                                <i class="fas fa-angle-right ml-2"></i>&emsp;{{NAMESUB}}
                                <span class="badge ml-1  badge-success badge-pill">{{QUANTITYSUB}}</span>
                            </div>

                            <div class="checkbox m-0">
                                <label class="m-0"><input type="checkbox" name="checkboxSubCategory" value="{{IDSUB}}"
                                        {{#if isChoose}}checked="" {{/if}} /></label>
                            </div>
                            {{else}}
                            <div class="d-flex justify-content-between align-items-center ml-2">
                                <i class="fas fa-angle-right ml-2"></i>&emsp;{{NAMESUB}}
                            </div>
                            {{/if}}
                        </li>
                        {{/each}}
                        {{/if}}
                        {{!-- Nếu category ko có sản phẩm nào --}}
                    </ul>
                    {{/each}}

                    <li
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {{#if isSelectComboCategory}}category-choosing{{/if}}">
                        <div class="d-flex justify-content-between align-items-center">
                            Combo
                            <span class="badge ml-1  badge-success badge-pill">{{lcSumQuantityProductCombo}}</span>
                        </div>

                        <div class="checkbox m-0">
                            <label class="m-0"><input name="checkboxCategory" type="checkbox"
                                    {{#if isSelectComboCategory}}checked="" {{/if}} value="-1" /></label>
                        </div>
                    </li>

                    <li
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {{#if isSelectAllCategory}}category-choosing{{/if}}">
                        <div class="d-flex justify-content-between align-items-center">
                            Tất cả
                            <span class="badge ml-1  badge-success badge-pill">{{lcSumQuantityProductAll}}</span>
                        </div>

                        <div class="checkbox m-0">
                            <label class="m-0"><input name="checkboxCategory" type="checkbox"
                                    {{#if isSelectAllCategory}}checked="" {{/if}} value="0" /></label>
                        </div>
                    </li>

                </ul>
                {{!-- category --}}

                {{!-- brand --}}
                <ul class="list-group mt-3" id="ulBrandsFilter">
                    <li class="list-group-item">
                        <h5>Nhà cung cấp</h5>
                    </li>

                    {{#each brands}}
                    <li
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            {{NAME}}
                            <span class="badge ml-1  badge-success badge-pill">{{QUANTITY}}</span>
                        </div>

                        <div class="checkbox m-0">
                            <label class="m-0"><input name="checkboxBrand" type="checkbox" value="{{ID}}" /></label>
                        </div>
                    </li>
                    {{/each}}

                    <li
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {{#if isSelectAllBrand}}category-choosing{{/if}}">
                        <div class="d-flex justify-content-between align-items-center">
                            Tất cả
                            <span class="badge ml-1  badge-success badge-pill">{{lcSumQuantityProductAll}}</span>
                        </div>

                        <div class="checkbox m-0">
                            <label class="m-0"><input name="checkboxBrand" {{#if isSelectAllBrand}}checked="" {{/if}}
                                    type="checkbox" value="0" /></label>
                        </div>
                    </li>
                </ul>
                {{!-- price --}}

                {{!-- price --}}
                <ul class="list-group mt-3" id="ulPricesFilter">
                    <li class="list-group-item">
                        <h5>Khoảng giá</h5>
                    </li>

                    {{#each priceFilters}}
                    <li
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            {{name}}
                            <span class="badge ml-1  badge-success badge-pill">69</span>
                        </div>

                        <div class="checkbox m-0">
                            <label class="m-0"><input name="checkboxPrice" {{#if checked}}checked="" {{/if}}
                                    type="checkbox" value="{{value}}" /></label>
                        </div>
                    </li>
                    {{/each}}

                    <li
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {{#if isSelectAllPrice}}category-choosing{{/if}}">
                        <div class="d-flex justify-content-between align-items-center">
                            Tất cả
                            <span class="badge ml-1  badge-success badge-pill">{{lcSumQuantityProductAll}}</span>
                        </div>

                        <div class="checkbox m-0">
                            <label class="m-0"><input name="checkboxPrice" {{#if isSelectAllPrice}}checked="" {{/if}} type="checkbox"
                                    value="{{value}}" /></label>
                        </div>
                    </li>
                </ul>
                {{!-- price --}}
            </div>
        </div>
    </div>
    <!-- open / close fillter -->

    <!-- Product -->
    <div class="container mt-5">
        <div class="row d-flex justify-content-center component-sort-header">
            <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center align-items-center">
                <h3 class="text-success">Tất cả Sản phẩm</h3>
            </div>

            <div
                class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12 align-items-center d-flex justify-content-center content-right">
                <p class="m-0 sort-type">Sắp theo:</p>

                {{#each typeSorts}} <div class="form-check-inline ml-1">
                    <label class="form-check-label" for="radioSortProductShow">
                        <input type="radio" value="{{value}}" {{#if checked}}checked="" {{/if}} class="form-check-input"
                            name="radioSortProductShow" />
                        {{name}}
                    </label>
                </div>
                {{/each}}


                <select class="form-control">
                    <option>Hàng mới về</option>
                    <option>Hàng cũ nhất</option>
                    <option>Giá tăng dần</option>
                    <option>Giá giảm dần</option>
                </select>
            </div>
        </div>

        {{!-- product simple --}}
        {{#if isShowSimple}}
        <div class="row mt-5">
            {{!-- load sản phẩm simple theo các giá trị của filter --}}
            {{#each this.products}}
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 d-flex justify-content-center">
                <div class="component-product-simple card w-100">
                    <div class="card-img-top w-100 h-75 position-relative" data-toggle="tooltip" title="{{NAME}}">
                        <a class="stretched-link" href="/customer/product/product-detail/product-simple/{{ID}}"></a>

                        {{!-- Nếu có giảm giá mới hiện ra --}}
                        {{#if SALE}}
                        <div id="sale-image" class="position-absolute d-flex justify-content-center ml-2">
                            -{{SALE}}%
                        </div>
                        {{/if}}
                        {{!-- Nếu có giảm giá mới hiện ra --}}

                        <img src={{IMAGE}} onload="compress(event, this)" class="rounded-top w-100 h-100" alt="">
                        <div class="overlay h-100 w-100 d-flex justify-content-center align-items-end">
                            <a href="/customer/product/add-product/{{isSelectAll}}/{{CATEGORYID}}/{{SUBCATEGORYID}}/{{ID}}"
                                class="mr-2 mb-3 rounded-circle d-flex justify-content-center align-items-center"
                                data-toggle="tooltip" title="Mua ngay">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                            <a href="/customer/product/product-detail/product-simple/{{ID}}"
                                class="mr-2 mb-3 rounded-circle d-flex justify-content-center align-items-center"
                                data-toggle="tooltip" title="Xem nhanh">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>

                    <div
                        class="card-body h-25 text-center d-flex align-items-center justify-content-center flex-column">
                        <a href="/customer/product/product-detail/product-simple/{{ID}}"
                            class="title card-title m-0">{{formatTitleProductSimple NAME}}</a>
                        <div class="mt-1 d-flex justify-content-center">
                            <div class="price-sale">
                                <span>{{formatPrice SALEPRICE}}</span>
                                <span><u>đ</u></span>
                            </div>

                            {{!-- Nếu có giảm giá mới hiện ra --}}
                            {{#if SALE}}
                            <div class="price-old">
                                <del class="ml-3">
                                    {{formatPrice PRICE}}
                                    <span><u>đ</u></span>
                                </del>
                            </div>
                            {{/if}}
                            {{!-- Nếu có giảm giá mới hiện ra --}}

                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{!-- load sản phẩm simple theo các giá trị của filter --}}
        </div>

        <div class="row justify-content-center mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        {{/if}}
        {{!-- product simple --}}

        {{!-- product combo --}}
        {{#if isShowCombo}}
        <div class="row mt-5">
            {{!-- Load sản phẩm combo theo các giá trị của filter  --}}
            {{#each this.productsCombo}}
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 d-flex justify-content-center">
                <div class="component-product-combo card font-weight-bold w-100">
                    <div class="position-relative w-100 h-75 card-img-top" data-toggle="tooltip" title="{{NAME}}">
                        <div class="position-relative d-flex h-100">
                            <a href="/customer/product/product-detail/product-combo/{{ID}}" class="stretched-link"></a>

                            {{!-- Nếu đang giảm giá mới hiện ra --}}
                            {{#if SALE}}
                            <div id="sale-image" class="position-absolute d-flex justify-content-center ml-2">
                                -{{SALE}}%
                            </div>
                            {{/if}}
                            {{!-- Nếu đang giảm giá mới hiện ra --}}

                            <img class="image-product-1" onload="compress(event, this)" src={{IMAGE1}} alt="" />
                            <img class="image-product-2" onload="compress(event, this)" src={{IMAGE2}} alt="" />
                            <img class="image-product-3" onload="compress(event, this)" src={{IMAGE3}} alt="" />
                        </div>
                        <div
                            class="overlay d-flex justify-content-center align-items-end position-absolute h-100 w-100">
                            <a href="/customer/product/add-product-combo/{{isSelectAll}}/{{ID}}"
                                class="mr-2 mb-3 rounded-circle d-flex justify-content-center align-items-center"
                                data-toggle="tooltip" title="Mua ngay">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                            <a href="customer/product/product-detail/product-combo/{{ID}}"
                                class="mb-3 rounded-circle d-flex justify-content-center align-items-center"
                                data-toggle="tooltip" title="Xem nhanh">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>

                    <div
                        class="card-body h-25 text-center d-flex align-items-center justify-content-center flex-column">
                        <a href="customer/product/product-detail/product-combo/{{ID}}" class="title card-title m-0"
                            data-toggle="tooltip"
                            title="Baby combo - combo rau hữu cơ Nhật cho bé">{{formatTitleProductCombo NAME}}</a>
                        <div class="m-0 d-flex justify-content-center">
                            <div class="price-sale">
                                <span>{{formatPrice SALEPRICE}}</span>
                                <span><u>đ</u></span>
                            </div>

                            {{!-- Nếu đang giảm giá mới hiện ra --}}
                            {{#if SALE}}
                            <div class="price-old">
                                <del class="ml-2">
                                    {{formatPrice PRICE}}
                                    <span><u>đ</u></span>
                                </del>
                            </div>
                            {{/if}}
                            {{!-- Nếu đang giảm giá mới hiện ra --}}

                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{!-- load sản phẩm combo theo các giá trị của filter--}}


        </div>

        <div class="row justify-content-center mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        {{/if}}
        {{!-- product combo --}}
    </div>
    <!-- Product -->
</form>

{{#section 'js'}}
<script src="/customer/js/open-close-filter.js"></script>
<script src="/customer/js/breadcrumb-margin.js"></script>
<script src="/customer/js/frm-product-show-submit.js"></script>
<script src="/customer/js/control-checkbox-filter.js"></script>
<script src="/all/js/compress-image.js"></script>
{{/section}}